[2018-06-29 14:09] szdc opened #3 "Add a method to list a user's followers"

[2018-06-30 09:08] #3 closed

[2018-07-07 04:44] szdc opened #5 "Add markdown linting for consistency"

[2018-07-07 05:07] szdc commented on #5
Added in #6

[2018-07-07 05:07] #5 closed

[2018-07-07 07:16] szdc opened #7 "Add method to get a user's profile"

[2018-07-07 08:30] #7 closed

[2018-07-08 20:57] ph1go opened #9 "Dynamically creating the antispam parameters..."
Any ideas on this? They seem to be renewed with every request and they also seem to be required for every API call I've tried...

I've found a function `appendAntiSpamParams` and I've recreated the `byteArrayToHexStr` function but a) I don't see anywhere where the `ts` argument is used (and it must be because if it was just based off of the `deviceId`, the spam params would be the same every time)

[2018-07-09 12:18] szdc commented on #9
If you're looking at the smali code, the 3rd parameter (referred to as `p2`) passed to `#appendAntiSpamParams()` is the current timestamp - have a look at where this parameter is used within the method.  As for the encoding, reverse engineering this is non-trivial so you'll have to think outside the box.

Sorry for being reasonably vague but the reason why I require the end user to supply their ow

[2018-07-09 13:57] szdc opened #10 "Add a method to get a user's posts"

[2018-07-13 13:39] #10 closed

[2018-07-14 03:02] szdc opened #12 "Add a method to list the users a user follows"

[2018-07-14 03:35] #12 closed

[2018-07-15 09:39] xkser opened #14 "A 20-character anti-spam parameter what does means"
export interface AntiSpamParams {
  /** A 20-character anti-spam parameter */
  as: string;

  /** A 20-character anti-spam parameter */
  cp: string;

  /** An encoded version of the 'as' anti-spam parameter */
  mas: string;
}

how do create as and mas？？？？？

[2018-07-15 09:48] szdc commented on #14
You'll need to reverse engineer the app to come up with a solution that you then pass in as the `signURL` option to this library.

I'm closing this as it's related to #9.

[2018-07-15 09:48] #14 closed

[2018-07-15 16:00] xkser opened #15 "A 20-character anti-spam parameter. How to create"
export interface AntiSpamParams {
  /** A 20-character anti-spam parameter */
  as: string;

  /** A 20-character anti-spam parameter */
  cp: string;

  /** An encoded version of the 'as' anti-spam parameter */
  mas: string;
}

how to create as and mas param?

[2018-07-15 22:14] szdc commented on #15
Please stop creating duplicates.

[2018-07-15 22:14] #15 closed

[2018-07-23 13:02] mon9403 opened #16 "Add support for following, liking and commenting"
please add the Instance methods for
1.Follow to user
2.Unfollow to user
3.Like the post
4.Unlike the post
5.Add commnet to post
6. How can we donate for adding those functions ? :)

[2018-07-28 21:05] ph1go commented on #9
Ok, I guess I see where you're coming from (although why release this project at all if you're not going to make it usable?)

I've had the old musical.ly/live.ly API working for ages and it still works but I expect there'll come a time when they retire it. I don't do Java and I don't understand what the `getUserInfo` method is supposed to return and how it is supposed to go about returning it. Eve

[2018-07-29 01:58] szdc commented on #9
@ph1go this library isn't for everyone - adding the signing method would make this library a magnet for people to write bots to spam with, and that's not something I support.  This project is usable if you add the signing method yourself and also serves as a starting point for someone wanting to create something similar.  If you have a legitimate use case, [DM me on Twitter](https://twitter.com/do

[2018-07-30 20:20] mon9403 opened #19 "Function Leaderboards"
Please add the Instance method for get the list of the top users by country.

[2018-07-30 22:05] szdc commented on #19
Does this functionality still exist?

[2018-08-13 13:12] #16 closed

[2018-08-13 13:13] #19 closed

[2018-08-15 14:55] nowm commented on #9
It's of course up to you, adding a signing algo to your code. But you have published the musically API wrapper to NPM, which means it is for everyone, nonetheless.

Secondly, every method (at least as I've observed it) requires their own mas/as/ts combination. So, when you create a TikTokAPI instance, you can use only one method, i.e. you can un-follow a user with this instance, but you cannot fol

[2018-08-15 22:42] szdc commented on #9
@nowm you pass in a `signURL` function to the constructor that is called before every request - this is where you add the dynamic signing logic.  You are not limited to one request per instance like you think.

I could add a wiki page explaining the signing process but this library cannot do it all for you - the requirements for signing at this stage are non-trivial.

[2018-08-16 00:35] sajsanghvi opened #21 "Search popular videos by hashtag"
Is there any way to search popular videos by hashtag/query

[2018-08-16 10:00] nowm commented on #9
To be honest, I even do not use JS for my purposes. So, any hints will be great (either implementation, or textual description). Right now I'm trying to figure it out from Smali, but if you have something you can share, it could be awesome.

[2018-08-16 10:03] nowm commented on #9
Also, if you want, I could create few pull requests to extend the tiktok-api library in exchange to the algo.

[2018-08-18 04:00] szdc commented on #21
Yep, I'll get this done.

[2018-08-19 11:14] szdc opened #22 "List popular categories/hashtags"
The search interface in the app lists popular hashtags - add the API call that does this.

[2018-08-19 11:28] #22 closed

[2018-08-21 20:55] p4rnicke commented on #9
I'm also interested in the signing algo, not an exact code just what it is doing at least.
We have to support our old musically users now, and the old API/service is down after the merge into TikTok. We are not building spam bots or such.

[2018-08-21 21:19] p4rnicke commented on #9
I can only send a message on Twitter if you are following me also. @kardosnicke is mine, I'm following you.

[2018-08-22 13:04] #21 closed

[2018-08-22 13:54] laranjaquadrada opened #25 "List "For You" page?"
Hi,

Is it possible to get a list of "For You" videos similar to what we get in the .listPosts ?

I am assuming that .listPosts only lists videos of the current user_id. Would be good to list all videos for all users, as they appear in the "For You" page screen.

For example:
 .listForYouPosts(params)
Lists posts for the user's For You page.

api.listForYouPosts({
  user_id: '<user_id>',
  max_cur

[2018-08-22 13:54] szdc commented on #25
Yep, I'll get this done.

[2018-08-22 18:49] p4rnicke commented on #9
I can also offer something in exchange for the algo. We are not building bots or act, just need some info about _our_ migrated musically users...

[2018-08-22 19:23] finicky opened #26 "Tiktok Live"
Do you have any plans to add endpoints for live streams on Tiktok?

[2018-08-22 22:04] szdc commented on #26
Yeah this can be done.

[2018-08-24 11:40] szdc commented on #9
@Pilfer if you're willing to compromise a little and think outside the box you don't have to go so far as to learn the CPU architecture.  I went for this solution instead 😃

[2018-08-24 15:12] Pilfer commented on #9
@szdc There's no room for compromise with what I'm doing, unfortunately. I have a pretty good idea as to what you did based on the breadcrumbs you're dropping though (or at least one of the few ways it's possible without digging into native code). I know a few people who did something similar with the v1 app (which used bangcle_*), but I opted to reverse and emulate the entire flow for both speed

[2018-08-28 02:59] scrapewww commented on #9
Is your twitter handle szdc? I would like to DM you as well. My Skype handle is AmbitionPHP

[2018-08-28 03:05] szdc commented on #9
@scrapewww it's linked above

[2018-08-28 12:27] #25 closed

[2018-08-28 13:50] #26 closed

[2018-08-28 13:53] szdc commented on #26
Thanks for raising this issue - the response from the [`joinLiveStream()`](https://github.com/szdc/tiktok-api#joinlivestreamid) call contains the URL of the actual stream.

[2018-08-28 13:59] szdc opened #29 "Name the types loaded in the main API file"
Having all the explicit imports has led to imports taking up the first 45+ lines of this file, reducing readability.

Use `import * as Network from './types';` or similar to resolve this.

[2018-09-01 13:06] szdc opened #30 "Add functionality to save and load cookies"
At the moment you have to login every time you start a new instance of the API.  Sessions last longer than that, so we should have the ability to load and use an existing session.

[2018-09-09 10:36] tolgatasci opened #31 "anti-spam parameter"
i use
[code]

return code here bottom.
but no follow up on my profile.

[code]

[2018-09-09 17:51] tolgatasci commented on #31
SPAM JAVA CODE
[code]

[2018-09-09 22:15] szdc commented on #31
Please don't post parameters.  You need to sign the request correctly.

[2018-09-09 22:15] #31 closed

[2018-09-10 00:27] tolgatasci commented on #31
@szdc  you helping me ? Follow us twitter.

[2018-09-19 15:20] scrapewww opened #32 "follow returns successful but does not follow user"
using api, i get a successful response however follow isn't actually created. I can confirm that while using MeMu emulator upon clicking follow button it says following however viewing that users profile i still see follow button. On my profile follower count increases yet user is not within follower list. tiktok must be recognizing something from both api code and emulator and stopping follow act

[2018-09-22 23:20] Guimei1388 opened #33 "Hi"
Please reply to me if you have time

[2018-10-06 19:10] nwalka opened #34 "Spam-Params"
Hello Jack , I want use to Tiktok api but i did not understand Spam Parameters  and  have a question , does api working now ?

[2018-10-07 13:32] szdc commented on #33
Please [DM me on Twitter](https://twitter.com/dotszdc) or open a more descriptive issue.

[2018-10-07 13:32] #33 closed

[2018-10-07 13:36] szdc commented on #34
Yes the API works provided you sign the request correctly. Please keep the discussion about anti-spam parameters in the existing issue, #9.

[2018-10-07 13:36] #34 closed

[2018-10-07 13:37] szdc commented on #32
Are you still encountering this?

[2018-10-09 11:38] shashank0708 opened #35 "Error while importing getRequestParams"
I am running the app like this:-
`node --experimental-modules index.mjs`

and this is line is giving error
`import TikTokAPI, { getRequestParams } from 'tiktok-api';`

error:-
[code]
 P.S I am new to node.js.

[2018-10-09 11:50] #35 closed

[2018-10-11 14:19] scrapewww commented on #32
No - well with your current wrapper than yes. I updated the TikTok app on the emulator, by doing so following became successful. I used Charles to compare the data being sent between the old version and new version, by adding a few variables to the request the following flow is successful. I will compare our files and share the changes I made to fix.

[2018-10-14 09:02] szdc commented on #32
I'm not seeing any issues running this on my end - the user is followed successfully and can be seen in the followers list.

[2018-10-14 10:05] #29 closed

[2018-10-14 20:58] Tigger2014 commented on #9
@szdc Im trying to implement theses myself however my java and js are not particularly good, ive decompiled the apk to pseudo java and from what i can tell it relies on the response from UserInfo, however this seems to be a native method so isnt java, ive followed you on twitter if your able to lend some help, my user is @BiteSizedTechie.

Thanks

[2018-10-23 01:43] asosyetikbiri opened #39 "device_id"
hello device_id how do I create it?

[2018-11-01 01:44] toklok commented on #30
question:  what would be good reading material for this?

[2018-11-01 11:41] szdc commented on #9
@Tigger2014 the easiest way would be to look at the [Java Native Interface](https://www.baeldung.com/jni) and think about how you could apply that in this situation.

[2018-11-01 11:43] Tigger2014 commented on #9
@szdc thanks, you helped me out on Twitter a few weeks ago. Got it sorted :)

[2018-11-01 11:45] szdc commented on #30
@toklok we're using tough cookie so and they have support for [serializing and deserializing the cookie jar](https://github.com/salesforce/tough-cookie#serializecberrserializedobject) so saving and loading that from a file would be good.

[2018-11-01 11:46] szdc commented on #30
I am happy to address handling expired/invalid sessions in a separate issue.

[2018-11-01 11:50] szdc commented on #32
Closing as unable to reproduce.

[2018-11-01 11:50] #32 closed

[2018-11-03 05:59] szdc opened #40 "List, approve and deny follow requests"
When your account is private, you get notified when someone requests to follow you. Add the endpoint to these requests and the endpoints to approve and deny them.

[2018-11-14 05:50] Zachary24 opened #41 "Where to start?"
What would be needed to download all videos from someones (my) profile? I have over 1,000 and don't feel like downloading each one.. I've been learning python, but the documentation here is fuzzy. Any help is appreciated!

[2018-11-14 11:37] Zachary24 commented on #41
Sorry, I'm still a little confused... Would i use python? Is the user_id the username or an actual id? And some things im a little confused about are below..

  const as = 'anti-spam parameter 1';
  const cp = 'anti-spam parameter 2'
  const mas = 'anti-spam parameter 3';

  device_id: '<device_id>',
  fp: '<device_fingerprint>',
  iid: '<install_id>',
  openudid: '<device_open_udid>',

Is there a

[2018-11-15 22:05] LucioCarrera opened #42 "anti-spam parameters"
Can you expand more on this topic? Can you give some kind of example or explain what you want to say with "a method that signs the URL with anti-spam parameters".
Thanks

[2018-11-16 09:09] szdc commented on #42
Requests made by the TikTok app are signed with 3 anti-spam parameters: `as`, `cp` and `mas`.  The signing process is non-trivial and uses a shared C++ library.

The easiest approach would be to look at how the Android app uses the [Java Native Interface](https://www.baeldung.com/jni) to bridge between Java and the shared library, and think about how you might implement something on a smaller scal

[2018-11-16 09:09] #42 closed

[2018-11-16 09:14] szdc commented on #41
Each user is assigned a unique numeric identifier, which is their `user_id`.  It cannot be changed and is separate from the user's username (which can be changed).  The easiest way to get a user's id is to [search for the user](https://github.com/szdc/tiktok-api#searchusersparams) - the response data contains a list of users, and each user has a `uid` field containing their user id.

I don't provi

[2018-11-16 11:56] LucioCarrera commented on #42
Thanks I just found how the app creates those parameters.

[2018-11-16 12:01] #40 closed

[2018-11-17 17:33] ValkA commented on #41
decompiled appendAntiSpamParams() in case somebody wants it:

`  public static n appendAntiSpamParams(n paramn, List<String> paramList, int paramInt)
  {
    String str2 = URLDecoder.decode(paramn.toString());
    Object localObject2 = DeviceRegisterManager.getDeviceId();
    Object localObject1;
    if ((str2.contains("&device_id=")) || (str2.contains("?device_id=")))
    {
      localObject1 = l

[2018-11-17 17:36] ValkA commented on #9
decompiled appendAntiSpamParams() in case somebody wants it:

[code]

[2018-11-17 19:45] p4rnicke commented on #9
That’s the east part. What about the encode in libcms.so.
I’m willing to PAY for a working solution for the antispam parameters.
We do not spam or even log in right now, just retreive some info about our users.

[2018-11-17 19:52] ValkA commented on #9
I gave it a few hours just for curiosity. Haven't found anything interesting yet :( Thought about finding same lib com0iled for x86 and use it from JS. Haven't found c sources or compiled for x86

[2018-11-17 19:53] Tigger2014 commented on #9
The easiest way to get around the libcms.so is to use that library in your own implementation on android, ive got this working myself so its certainly possible, android x86 and libhoudini might help you out

[2018-11-17 19:54] Tigger2014 commented on #9
Just a heads up, there is no x86 version of this library plus is relies on native android calls so it would need a fair amount of the underlying android system

[2018-11-17 21:51] p4rnicke commented on #9
I’m not using Android.
I was using the api from C# on windows server.
tiktok runs also on iOS so there should be a source somewhere for the encrypt.

[2018-11-17 21:58] Tigger2014 commented on #9
I wrote a web api for an android vm which processes my anti spam bits and then hands it back to my app, which was using python on a windows box. I guess there are multiple way to crack a nut

[2018-11-18 00:51] szdc commented on #9
@ValkA as a reminder please don't upload code snippets you don't own.

[2018-11-18 01:03] szdc commented on #9
I've added a [wiki page](https://github.com/szdc/tiktok-api/wiki/Generating-anti-spam-parameters) to summarise the discussion here - please feel free to add/edit it.

[2018-11-18 01:09] ValkA commented on #9
Strange, trying to include the .so file in a new Android Studio project, finally after getting rid of "not found JNI implementations" getting the following error after calling `System.loadLibrary("cms");`:

`java.lang.UnsatisfiedLinkError: JNI_ERR returned from JNI_OnLoad in "/data/app/com.******.********-*********==/lib/arm/libcms.so"
`
<project root folder>/app/src/main/jniLibs/armeabi-v7a/libcm

[2018-11-18 01:21] szdc commented on #9
@ValkA you'll need to make sure the package structure for your JNI classes is consistent with the Android app:
`com.ss.android.common.applog` for `UserInfo`
`com.ss.sys.ces` for encoding methods

[2018-11-18 02:25] ValkA commented on #9
missed the `com.ss.sys.ces` package, after manually rewriting the correct .smeli file into a .java file it runs :)

[2018-11-18 05:23] p4rnicke commented on #9
@Tigger2014 (or anyone) can you help me with a ready solution? I’m not really familiar with JNI and Android :(
I can offer some compensation for your efforts. I have to solve it before I got fired.
My twitter is @KardosNicke

[2018-11-18 09:33] p4rnicke commented on #9
Is there anyone who can help me with the java code implementing the web api that runs on Android VM?

[2018-11-19 21:31] mike444 opened #44 "Contact?"
Hey Jack, amazing job building this. I am not a developer and was interested in having someone build custom scripts that would help me get good usage of this API, is that something you could help with? I could pay you for your time :) if so let me know where I could contact ya!

[2018-11-20 10:15] humet opened #45 "Streaming from OBS"
Hi,

I was wondering if it was possible to supply this API an RTMP stream URL to start a live broadcast? Or if it's a feature you would look to adding?

This Instagram API does it in a similar manner to this one: https://github.com/mgp25/Instagram-API/blob/master/src/Request/Live.php

Thanks

[2018-11-20 15:53] dixakman commented on #9
Can you provide the code?

[2018-11-20 15:54] dixakman commented on #9
Can you provide the code?

[2018-11-20 15:57] Tigger2014 commented on #9
As already stated by @szdc posting the code, of any implementation defeats the purpose of the anti spam setup, so for that reason and to respect the hard work of @szdc  I will not be sharing my code. However people are prepared to help when you get stuck and to point you in the right direction.

[2018-11-20 16:34] Tigger2014 commented on #9
This isnt something ive ever tried to do, i just used the library to generate them for me, no decrypting on the values

[2018-11-20 16:55] ValkA commented on #9
I've managed to create cp and as params but they a bit different than expected. Can you give a hint how you inited the UserInfo lib? Found some string and int for initing but not sure if thats enough..

[2018-11-20 17:20] dixakman commented on #9
Can you throw a project that compiles?

[2018-11-20 18:12] Tigger2014 commented on #9
I believe them being a bit different is not a major issue.
With regards to the init of UserInfo: you need to look for 2 key pieces of info, the appid and the string that is passed to initUser, both of theses can be found within the source code.

[2018-11-20 18:14] Tigger2014 commented on #9
Can you reword that a little, unclear what your asking

[2018-11-21 09:17] szdc commented on #45
Should be possible, though I don't have an account with 1,000 followers (the minimum required to broadcast) so this would be a little harder to test.

[2018-11-21 09:18] szdc commented on #44
No, sorry.

[2018-11-21 09:18] #44 closed

[2018-11-21 11:46] humet commented on #45
Great thanks. I can get account details over to you. What would I need to do to get this done?

[2018-11-21 11:59] szdc commented on #45
@humet send me a PM on [Twitter](https://twitter.com/dotszdc) and I'll take a look.

[2018-11-23 15:08] robertbodley opened #46 "Access QR codes"
Thank you for all of the work you have put into the current api. I would like to know if it would be possible to implement access to viewing a users qr code via username or userid?

[2018-11-24 03:57] szdc commented on #46
Yep, I'll add this.

[2018-11-24 06:04] szdc opened #47 "User search request fails if type not specified"
The call to `searchUsers()` is currently failing if `type` is not specified, even though it's marked as optional.  This API should set a default value of 1.

[2018-11-24 06:14] #47 closed

[2018-11-24 07:41] szdc opened #49 "Upgrade to TikTok v9.1.0"
The latest official version this API supports is 8.2.0, which was released back in August 2018 (though the API still works with 9.1.0).  The official API calls now include an `x-tt-token` (sourced from the login response headers), as well as several more metadata parameters (e.g. `pass-region`, `pass-route`).  The `app_name` has also changed from `normal` to `musical_ly`.

All of these should be a

[2018-11-24 09:41] #49 closed

[2018-11-24 09:53] #46 closed

[2018-11-25 02:33] szdc opened #52 "Add support for logging in with a username"
Currently the API only has a helper method for logging in with an email address.  Users also have the option to use their username, so add a helper method for this.

[2018-11-25 03:01] #52 closed

[2018-11-25 07:57] #45 closed

[2018-11-26 12:31] dyar95 commented on #9
I've managed to create both cp and as (they're just the two halves of the getUserInfo() method. I'm stuck on the mas parameter though, did you ever figure that out?

[2018-11-26 12:36] ValkA commented on #9
Ive decompiled the apk with jadx and found the use in no time. The encode is a call to one of the jni's.

[2018-11-26 13:37] dixakman commented on #9
Can you share the code?

[2018-11-26 13:40] Tigger2014 commented on #9
As already stated in my previous reply
As already stated by @szdc posting the code, of any implementation defeats the purpose of the anti spam setup.
However people are prepared to help when you get stuck and to point you in the right direction.

@szdc  has made it clear he would prefer people not to share their implementations here, please stop requesting people to do so.

[2018-11-26 14:40] szdc commented on #9
I'll do a better write-up on the wiki for this, and I'm locking this thread until it's done.

[2018-11-27 07:50] ValkA opened #57 "add postVideo api call"

[2018-11-27 07:50] ValkA commented on #57
I'll try to investigate that

[2018-11-27 07:57] szdc commented on #57
Thanks!

[2018-11-27 09:49] ioio101 commented on #41
What about the timestamps?

[2018-11-27 10:18] szdc commented on #41
@ioio101 you generate the timestamp yourself - it is simply the current time when you are making the call.

[2018-11-27 15:05] sskhokhar commented on #42
@NoNameSorryButHeyCallMeSherlock  Can you please provide me with the process? Your help will highly be appreciated.

[2018-11-28 16:01] NoNameSorryButHeyCallMeSherlock commented on #42
@sskhokhar I don't want to link the repository directly but look into my profile and looks for the anti-spam repository.

[2018-11-29 00:44] ioio101 commented on #41
Are the rest of the device identifiers static? Anything else besides timestamp/anti spam parameters that needs dynamic generation?

[2018-12-02 18:48] scrapewww commented on #39
use an app like Charles to watch network requests, grab your own device_id from one of the API calls.

[2018-12-04 21:41] ambitionphp opened #58 "How to register a new device?"
If you try to generate fresh device details you're unable to login successfully until device is registered with api it seems. You can use the same device for multiple accounts however you hit request limits extremely quickly. I see that the app makes an api call to register a new device however the data it posts seems to be encrypted. any idea on what is being sent over to the api during this post

[2018-12-05 11:46] scrapewww commented on #58
I'm also interested in knowing this. I'm having the same issue. When I provide new device details, I get prompted for captcha on every request however I do not know how to bypass the captcha because the error just says "captcha field empty" or something along those lines. If I go back to device details that have been registered within the app everything works fine. I noticed an API call the first

[2018-12-06 10:55] dixakman opened #59 "How to get parameter for function UserInfo.initUser?"
Hello friends!

How to get parameter for function UserInfo.initUser?
I can not find either ...

[2018-12-06 11:21] szdc commented on #59
Look at the calls made to that function in the apk and you'll see it's defined as a constant.

[2018-12-06 12:32] dixakman commented on #59
I saw the constant, but there is also a function to get the value from the cache. To initialize the constant enough. The value itself is taken into account when forming signatures?

[2018-12-06 12:45] szdc commented on #59
Last I checked the cached value didn't change, so you'll be right using the constant.

[2018-12-06 13:43] dixakman commented on #59
Thx, setAppId 4 digit number? Or some long number?

[2018-12-06 17:46] dixakman opened #60 "Encode parametr mas"
Does the function use the current time to generate the mas parameter?

[2018-12-07 07:35] szdc commented on #59
`1233` is the app ID for TikTok, same as defined [here](https://github.com/szdc/tiktok-api/blob/master/src/index.ts#L573).

[2018-12-07 07:36] szdc commented on #60
Yes - the current time is [passed to the signing method](https://github.com/szdc/tiktok-api/blob/master/src/index.ts#L522).

[2018-12-07 13:05] #60 closed

[2018-12-07 13:05] #59 closed

[2018-12-07 13:08] szdc commented on #41
@ioio101 that's right - the other parameters are static. Note that [`_rticket`](https://github.com/szdc/tiktok-api/blob/master/src/index.ts#L526) is another timestamp (the current time in milliseconds).

[2018-12-07 21:54] asosyetikbiri commented on #39
i need to generate my useless device ID

[2018-12-09 08:13] dixakman commented on #58
Did anyone succeed?

[2018-12-10 12:10] szdc commented on #39
Closing as this is now a duplicate of the more descriptive issue #58.

[2018-12-10 12:10] #39 closed

[2018-12-11 12:28] szdc opened #61 "Cannot build TS projects that use this library"
When trying to build with `tsc`, you get several errors like so:
[code]

The generated `index.d.ts` file for example contains the following axios imports:
[code]

This is one level off where `node_modules` actually is:
[code]

Therefore in `index.d.ts` the path `../node_modules/axios/index` resolves to `tiktok-api/node_modules/axios/index`, which is invalid.

This can be fixed by setting [`baseUrl

[2018-12-11 12:46] #61 closed

[2018-12-11 19:25] roberttrisch opened #65 "Cant use any feature"
i am only being able to login, data of my account is fetching but whenever i try to use any other feature as listing post or something like that i always i get undefined, even tho i define it as you said.

[2018-12-11 22:11] szdc commented on #65
Please provide an example of what you mean when you say you are getting undefined.

[2018-12-12 04:03] roberttrisch commented on #65
is there anyway i can contact you in private, as i have to share the code that i am using and other things so you can easily see whats the problem

[2018-12-12 05:07] szdc commented on #65
DM me on Twitter: https://twitter.com/dotszdc

[2018-12-12 15:48] roberttrisch commented on #65
i cant send messages to you because you don't receive messages from people you don't follow
my twitter is: https://twitter.com/RobertFredj6485

[2018-12-12 22:48] embedfile opened #67 "Example of work in production use"
I was able to port this code over to PHP and I made a simple platform using it. TikTok has long and ugly profile URLs. Outside of this wrapper and the actual app there really is no solid way to be able to view a TikTok profile just by knowing the username. With that in mind I put together TikTok2.me which provides users with easy to remember tiktok2.me/username profile links. Users can visit the h

[2018-12-15 01:32] szdc commented on #67
You're not a direct consumer of this API so I'm hesitant to link to you as I see your work to be more inspiration than example.  If you open-sourced your PHP library I'd be happy to link to it :smile:

[2018-12-15 01:32] #67 closed

[2018-12-15 01:34] szdc commented on #65
User contacted me over Twitter and was being asked to sovle a captcha on login - I have only ever seen this come up after repeated failed login attempts, and the solution is to solve the captcha in-app and then resume your API calls.

[2018-12-15 01:34] #65 closed

[2018-12-15 01:39] szdc commented on #58
The data sent in when registering a device is gzipped and then encrypted using `libttEncrypt.so` if someone wants to take this further.

[2018-12-15 07:19] dixakman commented on #58
It's clear. But what parameters does he transmit? What are the key parameters?

[2018-12-17 20:54] iosys opened #68 "Add a method to get a post by its id"
**Is your feature request related to a problem? Please describe.**
Currently the only way to get a post's data is to get all posts from a user until the desired post is reached.
The API has a way to get a single post if you know its id which can be useful sometimes.

**Describe the solution you'd like**
The API call is 'aweme/v1/aweme/detail/' with param aweme_id
The result contains the Post in aw

[2018-12-19 03:43] axiom88-guru opened #69 "Is there a way to get all posts regardless of users?"
First of all, you've done an amazing job. Well done.
I am looking at this api now: .listPosts(params)
It seems to me it is limited to get posts based on users according to your param example.
api.listPosts({
  user_id: '<user_id>',
  max_cursor: 0,
})
  .then(res => console.log(res.data.aweme_list))
  .catch(console.log);

So my question is, can we get all posts regardless of users?
Your answer wo

[2018-12-19 03:55] szdc commented on #69
Not using that endpoint.  To achieve what you want, look at the [`ListForYouFeed`](https://github.com/szdc/tiktok-api#listforyoufeedparams) endpoint, which is an infinite list of posts (curated to your account).  You'll need to use the [`max_cursor`](https://github.com/szdc/tiktok-api/blob/master/src/types/request.d.ts#L163) field for pagination

There are also a couple of other endpoints if you w

[2018-12-19 11:00] szdc commented on #68
I'm surprised that I missed this one - thanks for pointing it out, I'll get it done.

[2018-12-19 11:52] szdc commented on #57
@ValkA did you happen to make any progress on this?

[2018-12-19 11:58] #68 closed

[2018-12-19 12:01] ValkA commented on #57
I haven't found time for that yet, sorry :(

[2018-12-19 12:05] szdc commented on #68
Thanks for the request! I've just added the [endpoint](https://github.com/szdc/tiktok-api#getpostid).  I'll create a new issue to address the missing `Post` fields as the app has been updated.

[2018-12-19 12:06] szdc commented on #57
No worries, I've unassigned you to let anyone take this on.

[2018-12-19 12:16] szdc opened #71 "Add missing fields to Post interface"
**Is your feature request related to a problem? Please describe.**
The [Post interface](https://github.com/szdc/tiktok-api/blob/beb717d371396cd7be14d10ad336d7ffb6ab9bcb/src/types/post.d.ts#L25) is missing several parameters that have been added in recent updates, e.g. `sticker_detail`, which describes the filter that was used with a video.

**Describe the solution you'd like**
Add any new interest

[2018-12-19 12:25] szdc opened #72 "Add examples"
**Is your feature request related to a problem? Please describe.**
It's difficult for new users to get started quickly because there isn't an example that works out-of-the-box to see and play around with.

**Describe the solution you'd like**
Add an `examples/` folder with some simple examples.

[2018-12-19 15:23] 23233 opened #73 "How to Download Videos without Watermark?"
## How to Download Videos without Watermark?

[2018-12-21 08:37] szdc commented on #73
Once you have information about the post (through one of many calls, e.g. [ListPosts](https://github.com/szdc/tiktok-api/blob/master/src/index.ts#L179)), the [`video`](https://github.com/szdc/tiktok-api/blob/master/src/types/post.d.ts#L69) key contains information about the video.  [`has_watermark`](https://github.com/szdc/tiktok-api/blob/master/src/types/video.d.ts#L14) will tell you if the video

[2018-12-21 13:42] axiom88-guru commented on #72
Hi, I also couldn't figure out the way to run this api.
I feel the lack of documentation.
Should I start with Node.js ?

[2018-12-21 13:56] szdc commented on #72
@axiom88-guru yes, this is an npm library so it is a fair expectation that the end user has some familiarity with NodeJS.

[2018-12-24 04:42] lijuanliu2018 commented on #35
Hi, @shashank0708

How dow you fix this? We meet the same issue.

[2018-12-26 10:47] #73 closed

[2018-12-26 10:47] #69 closed

[2018-12-26 11:07] szdc commented on #35
@lijuanliu2018 ECMAScript Modules are [still experimental](https://nodejs.org/api/esm.html#esm_ecmascript_modules) so I'm not inclined to invest into resolving this.  Use Babel, TypeScript, etc. if you want this functionality now.

Alternatively, you are able to work around this by simply using the default export:
[code]

[2018-12-26 11:14] #41 closed

[2018-12-27 02:59] yaizudamashii commented on #58
Has anyone succeeded this?  I also found out that the POST body is encrypted using ttEncrypt, but has anyone gotten the binary of it?  The string it encrypts is quite complex, but it is a stringified JSON object/array of various parameters keyed on "app_log_config".  I haven't fully figured out the contents of the JSON yet.

[2018-12-27 05:52] yaizudamashii commented on #58
Ok I found the .so file in the apk.  That apktool decompiler is great.

[2018-12-27 18:31] Pilfer commented on #58
@yaizudamashii @szdc  Just a heads up, the function that encrypts the POST body *looks* likes a well-known encryption algorithm, but they committed the cardinal sin of rolling their own encryption by modifying it. On top of that, if you look at the JSON payload itself you'll find that they're using a native library to encode some of the values as well. It's not just one native encryption layer, bu

[2018-12-27 23:41] LessFilling1 opened #75 "TypeError: axios_cookiejar_support_1.default is not a function"
**Describe the bug**
Gives an error message: TypeError: axios_cookiejar_support_1.default is not a function

**To Reproduce**
I just took an example from https://www.npmjs.com/package/tiktok-api/v/0.4.0
Replaced the required data and press run

But I got an error:
![image](https://user-images.githubusercontent.com/18662675/50497578-fb81f800-0a49-11e9-8238-7f569fd6c5f1.png)

[2019-01-02 08:14] visua0 opened #76 "Add methods to get posts by music and by stickers"
**Is your feature request related to a problem? Please describe.**
There are a couple more endpoints for which there is no method available yet.

**Describe the solution you'd like**
'/aweme/v1/music/aweme/' with param music_id
'/aweme/v1/sticker/aweme/' with param sticker_id
They both use cursor instead of max_cursor in requests and responses.

**Additional context**
Stickers are the video filter

[2019-01-02 08:15] szdc commented on #76
Thanks, I'll get these done.

[2019-01-04 10:49] humet opened #77 "Post new videos"
**Is your feature request related to a problem? Please describe.**
There currently isn't the ability to post new videos/content.

**Describe the solution you'd like**
An API call we can use to post new videos/content.

[2019-01-04 10:53] ducpt2 commented on #77
Same question :)

[2019-01-04 10:54] ducpt2 commented on #57
+1 Same question :)

[2019-01-05 00:18] szdc commented on #77
Closing as this is a duplicate of #57.

[2019-01-05 00:18] #77 closed

[2019-01-06 19:22] hackydunk opened #78 "Consulting"
Hey! @szdc

Can you reach out to me on skype at hacky20091?

I'd like to pay you to help me develop a small web application using this api... I can delete this issue after you contact me.

Thanks,
J

[2019-01-08 23:57] romanGarasymovych opened #79 "Get Followed users return empty response in .NET"
Hello,

First of all, thanks for such an amazing work you have put in into this API.

I am currently trying to implement this API on an ASP.NET server, with some success. But `aweme/v1/user/follower/list/` is giving me a headache. I receive empty response when calling it using `HttpClient` on my ASP.NET server. I use the parameters from my own device, and can get my followers on _Postman_ with no

[2019-01-09 00:34] klliks-com commented on #78
@szdc my username on twitter: @JLucky888

I have a legit reason, really need help. Please DM or leave me some way to communicate its urgent.

[2019-01-09 02:21] Pilfer commented on #79
Connect your HttpClient to a proxy like Charles or Burp and view whats *actually* being sent to the API server. Compare that with what is sent in Postman. You'll have your answer.

[2019-01-09 15:21] romanGarasymovych commented on #79
Thanks for your response.

User Agent was the issue. I was not setting it correctly, and it looks like `/aweme/` endpoint cares about it more than others do.

[2019-01-09 15:21] #79 closed

[2019-01-09 23:16] szdc commented on #78
No thank you.

[2019-01-09 23:16] #78 closed

[2019-01-10 12:46] 1Low opened #80 "getUser fails. Http response content is empty"
As title states, func getUser(id) fails(response content from server is blank).

Anyone else facing this issue?

[2019-01-10 13:13] #80 closed

[2019-01-10 23:17] asosyetikbiri opened #81 "X-Tt-Token"
Hello!

update X-Tt-Token ?

[2019-01-11 02:09] szdc commented on #81
Please provide more information

[2019-01-11 11:23] klliks-com opened #82 ""data":{"captcha":"","description":"You are visiting our service too frequently.","error_code":7},"message":"error"}"
Hi Guys!

I have reversed all the libs including register deviceID.
But when i am trying to login i get error:
"data":{"captcha":"","description":"You are visiting our service too frequently.","error_code":7},"message":"error"}

Then account marked as bad and nothing works.

1. Created account on BOTplatform, imported to device, followed user -  counter worked
2. Tried to login and follow with tha

[2019-01-11 11:31] klliks-com commented on #82
I know. i don't do ANY spam (we been talking in skype)
I just want to find out what you doing differently when login?

Why my accounts are bad.

[2019-01-11 11:32] szdc commented on #82
Your question is not related to this repository and this repository is not the right forum for it.

[2019-01-11 11:32] #82 closed

[2019-01-11 21:33] asosyetikbiri commented on #81
We get the X-Tt-Token entrance, X-Tt-Token expires, what should we do?

[2019-01-12 03:16] IgorGee opened #83 "Unable to login via api"
I'm attempting to call the `searchHashtags` api, but the data is *usually* the following response:

[code]

I say usually because I've seen it work before without even logging in on the api, but then immediately failing after. Now it's just consistently failing.

I've tried  logging in via the api before calling the `searchHashtags` api, but it asks me to solve a captcha in the response. I noticed

[2019-01-14 16:31] vimaxwell opened #84 "Config for project"
I'm using lasted version 0.4.0.
When I run `tsc` to build to js, i got problem. What should I do?
`Property 'aweme_list' does not exist on type 'BaseResponseData | ListForYouFeedResponse'.
  Property 'aweme_list' does not exist on type 'BaseResponseData'.ts(2339)`

[2019-01-14 22:13] szdc commented on #84
Please provide a minimal example to reproduce.

[2019-01-15 07:11] dixakman opened #85 "After 10 likes, the API stops working for 5-10 minutes"
Made a bot on the phone application for signing requests. I try to put 20 likes from 20 different accounts, only 10 are put in the end, the rest comes with the answer is_digg = 1 (I’m not set), after 5-10 minutes if I repeat the procedure, it works again, and only 10 again. Someone you know in what's the problem?

[2019-01-15 07:46] szdc commented on #85
You are being restricted by the server.  This repository is not the place for both support.

[2019-01-15 07:46] #85 closed

[2019-01-15 12:48] szdc commented on #84
You'll have to use `(res.data as ListForYouFeedResponse).aweme_list` until this library includes error checking, as the response may not be successful (in which case the return type would be `BaseResponseData`, which doesn't contain `aweme_list`).

[2019-01-15 12:53] szdc commented on #83
Logging in on your real device would only work if you were using _exactly_ the same parameters.  Otherwise, you were right in solving the captcha.

I'm not sure about the `Missing ID certification information` error you're getting - it looks like a response from the server, and I haven't encountered it.

[2019-01-16 05:04] IgorGee commented on #83
Thanks! That comment made me rethink my implementation and the issue ended up going away.

[2019-01-16 05:04] #83 closed

[2019-01-22 09:46] comsuoncha commented on #72
@szdc could you help me an full example to get posts of an user_id?
What should i fill into these params?
`const signURL = async (url, ts, deviceId) => {
  const as = 'anti-spam parameter 1';
  const cp = 'anti-spam parameter 2'
  const mas = 'anti-spam parameter 3';
  return `${url}&as=${as}&cp=${cp}&mas=${mas}`;
}

// Required - device parameters
// You need to source these using a man-in-the-mi

[2019-01-25 07:42] comsuoncha commented on #72
@szdc could you take a look at my comment

[2019-01-27 09:58] szdc commented on #72
@comsuoncha you have to supply the `signURL` method yourself as mentioned in the README.  The request parameters can be sourced by looking at a device running the app using [Frida](https://www.frida.re/), [mitmproxy](https://mitmproxy.org/) or something similar.

[2019-01-29 17:15] VladKabantsov commented on #72
@szdc Sorry, I do not understand. Can you give me full example how to start work with your API?
Also, I will be grateful if you will give me example how to start video stream using OBS and your API?

[2019-02-06 17:10] panamantis commented on #58
Anyone figure out how to System.loadLibrary("cms"); properly?  I hear it depends on the com.ss.sys.ces library but that library requirements spirals into the entire codebase?

[2019-02-22 02:15] apecx opened #89 "proxy support"
how can we use this with a proxy?

[2019-02-22 15:56] EnderDev opened #90 "How the heck do I use this?"
Hello, I'm trying to make it so you can type in `!tiktok <search string>`, and it will return the direct video url.  https://hasteb.in/juricefe.js

I just keep getting this error:
[code]

[2019-02-22 21:21] onfound commented on #72
@szdc Where i can get url?
Do I have to change the following settings:
const as = 'anti-spam parameter 1';
const cp = 'anti-spam parameter 2'
const mas = 'anti-spam parameter 3';

[2019-02-25 17:34] racinmat opened #91 "Pagination of listPostsInHashtag method"
Hi, is there any way to paginate the `ListPostsInHashtag` method?
I see there is `count` parameter which is upper bound for number of returned videos (it never returns the same number of videos as specified in `count`, but smaller amount). And in [this issue](https://github.com/szdc/tiktok-api/issues/69) you mentioned posiibility for pagination using `max_cursor` which allows you to select biggest

[2019-02-28 09:18] onfound commented on #72
@szdc The api connection was figured out, but when using there were problems with the login request on the service. The query requires a Google captcha, but some such as getUser worked greate

[2019-02-28 15:09] Pilfer commented on #90
Looks like

[code]

needs to be

[code]

[2019-03-03 14:30] omryan2991 commented on #58
@polfer Do you have a contact? I'd love to message you about a project!

[2019-03-05 09:29] urbans opened #92 "Login with unicode chars broken"
I encountered an issue trying to log in with my username that contains unicode characters. It seems unicode chars are encoded differently than plain ascii, which gives me "User does not exist" error.

After some research it appears that xor encryption just uses a different key (many different keys, actually) for non-ascii chars. For example, When I try to log in with my name in mixed ascii+Russian

[2019-03-16 09:39] szdc commented on #89
Not part of this project.

[2019-03-16 09:39] #89 closed

[2019-03-16 18:19] SerAvr opened #93 "Captcha is empty"
Hi,
When I trying login I have a error "Verification code is empty, please enter the verif..."

![error](https://user-images.githubusercontent.com/48628427/54479724-f22a4f80-4830-11e9-893c-a96a1e75e2ad.jpg)

How do I enter captcha?

[2019-03-17 09:53] szdc commented on #93
There's a [`login`](https://github.com/szdc/tiktok-api/blob/f76f4141f74b498d888a10a7ca29122730033a92/src/index.ts#L92) method you can use that allows you to specify the response to the captcha.

[2019-03-17 18:06] SerAvr commented on #93
Thanks. How can I answer to captcha? It's a google recaptcha like this https://developers.google.com/recaptcha/docs/v3 ?

[2019-03-17 19:54] alexey-gorshkov commented on #93
You got the code in the captcha field, this is a string base64 image. You can view this image at
[https://codebeautify.org/base64-to-image-converter](https://codebeautify.org/base64-to-image-converter) or generate this image on your frontend page.

[2019-03-25 12:06] timoangerer opened #94 "How to install ARM translation on an Android emulator inside Docker"
What would be the best way to use the .so ARM libraries from the tiktok apk on a server/inside docker? I've managed to make it work with a local genymotion setup using libhoudini, but it won't run inside docker.

Here is a related SO question: https://stackoverflow.com/questions/55334014/how-to-install-arm-translation-on-an-android-emulator-inside-docker

[2019-03-26 12:01] #93 closed

[2019-03-26 12:08] szdc commented on #94
You'll have to provide more information, e.g. the error messages you're getting.

Alternatively, you could look at using an ARM Android image rather than an x86 one.

[2019-04-03 10:28] charlieAndroidDev opened #95 "Where on earth is libuserinfo.so?"
I've got a long way through reversing the APK but I cannot for the life of me find the `libuserinfo.so` file anywhere, it doesn't exist in the `/lib` folder or in the `libso` folder in `/data/data`.  I'm fairly confident in reversing the ARM assembly but I can't even find the library!  I've looked at the smali code to see where it's loaded but no dice so far, I wont give up but any help is appreci

[2019-04-04 01:12] szdc commented on #95
I haven't looked recently but what makes you think there is a `libUserInfo.so` library? The methods could be contained in another library.

[2019-04-04 10:45] charlieAndroidDev commented on #95
Well I've hooked the `UserInfo.getUserInfo()` method and it looks like it is called multiple times and there are parameters passed in, but it always returns null.  Also the app calls `System.loadLibrary("userinfo")`, yet in the logs I can see that each time this is attempted, it fails saying the lib cannot be found.  So maybe you're right and the lib doesn't exist anymore.  Also I've found that if

[2019-04-04 18:25] charlieAndroidDev commented on #95
Scratch that, I think all the userinfo stuff is in `libcms.so`, but it seems it's encrypted or they use `RegisterNatives` to further obfuscate their stuff.  I'm almost there, I might have to do some dynamic analysis of the native lib instead of just static.

[2019-04-05 15:22] charlieAndroidDev commented on #95
I found a Chinese article with the `getUserInfo` implementation, though it was outdated but not by very much.  After dynamic analysis of `libcms.so` I have found the keys and the `rstr` needed for the `getUserInfo` function to work, but not sure how the implementation/algorithm itself has changed.

[2019-04-08 16:50] charlieAndroidDev commented on #95
I know no-one is replying but I'll use this to track my progress.  I've got the new algorithm for AS+CP now, still need to figure out how to generate the 4 digit string that is appended to `as` and the 4 character string appended to `cp` but basically there.  After that I just need to find the encode method in `libcms.so` for the `mas` parameter.

[2019-04-09 17:02] Animus2018 commented on #94
Hello Jack! I have questions. You can be contacted via twitter? I follow you, my @animus2018gmail.

[2019-04-09 23:26] szdc commented on #94
Closing as no response received.

[2019-04-09 23:26] #94 closed

[2019-04-10 06:09] Riyaz7364 opened #96 "Cant get install and device id"
Hay i try to get install and device id using PHP
But its always return
[code]
I simply use Register URL to get details

and also use same Header but result always same. Help me to get this details

[2019-04-10 09:45] charlieAndroidDev commented on #96
Your _rticket looks pretty old.  Use a current timestamp for the _rticket and try again.

[2019-04-11 08:03] Riyaz7364 commented on #96
I try with current timestamp [ time() ] function bust result still same.

[2019-04-11 08:06] Riyaz7364 commented on #96
I try with current timestamp [ time() ] function bust result still same.
I try in mitmproxy
edit _rticket value to 0 then hit replay but then i got ids. i dont think that is the problem.

[2019-04-13 04:01] owen800q commented on #95
I use VirtualXposed to hook getUserInfo, but not working at all but when I hooked inituser, it works
May you share some details how to hook getUserInfo

[2019-04-13 16:22] charlieAndroidDev commented on #95
I hooked `getUserInfo` with an Xposed module that I wrote.  It's very basic.

[2019-04-26 16:12] klliks-com opened #97 "'data': {'captcha': '', 'description': '', 'error_code': 1105}, 'message': 'error'}"
Hi Guys

It seems like TikTok Turned on captcha for each account login.
It doesn't matter if i use:
iOS/Android/Emulator/scripts

I have the script for device_id and install_id.
So i need to find a way to solve captcha on login (via API)
It was working couple days ago, it's something new.

I was thinking about:
1. Integration with captcha solver
2. Send captcha to my local browser/server and to so

[2019-04-26 16:43] klliks-com commented on #95
I am getting:
'data': {'captcha': '', 'description': '', 'error_code': 1105}, 'message': 'error'}

For each account i try to login. Any idea how to bypass/solve it?

[2019-04-27 07:01] umeshdepale commented on #97
Hi I have an issue in device id I got an error like -

 stdClass Object ( [data] => stdClass Object ( [captcha] => [description] => You are visiting our service too frequently. [error_code] => 7 ) [message] => error )

if I try to login can you help me to solve this issue

[2019-04-27 09:40] Pilfer commented on #97
@klliks-com 1105 is the captcha code it expects a solution for on the next call (the puzzle slider one).

[2019-04-27 09:40] Pilfer commented on #97
@umeshdepale rate limiting is a thing. don't be dumb.

[2019-04-27 09:46] klliks-com commented on #97
I understand.
If captcha is solved then everything is good.
But What are my options to solve/bypass puzzle slider?

[2019-04-27 09:56] klliks-com commented on #97
@Pilfer moreover is there a service that can solve this captcha via api? or is there a way to solve it manually? or bypass ?

It was working good for me, but then accounts logged out and now each login ask captcha.
so i want to solve captcha and keep session alive. because if accounts logged in they can work for long time.

[2019-04-27 10:09] umeshdepale commented on #97
But How to solve 1105 error I use PHP for this coding link- https://coding.vivoliker.com/OLP95IXSOo is anyone helps me to solve captcha issue

[2019-04-27 11:47] umeshdepale opened #98 "i Have a issue that if i try to login then error code 1105 is occur anyone help me to make login system for tiktok"

[2019-04-27 11:51] szdc commented on #98
Duplicate of #97.

[2019-04-27 11:51] #98 closed

[2019-04-27 11:55] umeshdepale commented on #98
but how to solve This can you please make login system in tiktok for me I can pay some money for this if interested email - vumesh797@gmail.com

[2019-04-27 12:22] szdc commented on #97
@umeshdepale see [this answer](https://github.com/szdc/tiktok-api/issues/93#issuecomment-473708678).
@klliks-com solve the captcha manually, this repository isn't the place to discuss captcha automation.

[2019-04-27 12:22] #97 closed

[2019-04-27 13:01] klliks-com commented on #97
All good. I would like to solve it manually. How can i do it?
I used QtWebView but impossible to move fragment probably touch events are not emulated.

I need a way to solve it on same server.
Please assist.

[2019-04-27 13:08] klliks-com opened #99 "How to solve captcha manually?"
I would like to solve it manually. How can i do it?
I used QtWebView but impossible to move fragment probably touch events are not emulated.

I need a way to solve it on same server.
Please assist.

[2019-04-27 13:22] szdc commented on #97
@klliks-com the image is base 64 encoded - see the answer linked above.

[2019-04-27 13:41] klliks-com commented on #97
I sent you DM on twitter, also on skype.
I need help with this one. i am willing to pay if needed.

I still don't understand how to solve it manually.

[2019-04-27 13:53] Lekinio opened #100 "Verification code is empty, please enter the verification code-Can not Login with email"
when  i trying to login with email,it shows me this error

   { captcha: 'R0lGODlheQAoAIcAAAAAAAAARAAAiAAAzABEAABERABEiABEzACIAACIRACIiACIzADMAADMRADMiADMzADd3REREQAAVQAAmQAA3QBVAABVVQBMmQBJ3QCZAACZTACZmQCT3QDdAADdSQDdkwDungDu7iIiIgAAZgAAqgAA7gBmAABmZgBVqgBP7gCqAACqVQCqqgCe7gDuAADuTwD/VQD/qgD//zMzMwAAdwAAuwAA/wB3AAB3dwBduwBV/wC7AAC7XQC7uwCq/wD/AEQAREQAiEQAzEREAEREREREiEREzESIAESIRESIiESIzETMAETMRE

[2019-04-27 14:23] klliks-com commented on #100
I need the same help with captcha.
I don't understand how to solve manually.

@szdc why are you deleting my message? i need to understand how i can solve captcha i have small amount of acounts.

[2019-04-27 14:28] klliks-com commented on #93
http://prntscr.com/nhlns8

How can i solve manually this captcha while using pure requests?
'data': {'captcha': '', 'description': '', 'error_code': 1105}, 'message': 'error'}

[2019-04-27 14:31] klliks-com commented on #97
Can i have your email/skype please?

[2019-04-27 14:32] klliks-com commented on #97
I don't get regular captcha.
It's puzzle captcha which detect be if i am not real user.

Please don't delete my messages, i need help to understand how to solve captcha manually.

[2019-04-27 14:35] umeshdepale commented on #97
Hi, @klliks-com I got the same issue Is anyone here who help and hello @klliks-com can you share login code with me

[2019-04-27 14:39] klliks-com commented on #97
I know that many people using same API are able to login and solve captcha.
Anyone can explain clearly how to do it?

[2019-04-27 14:41] umeshdepale commented on #97
Can you share your login code @klliks-com

[2019-04-27 14:41] umeshdepale commented on #97
Which Language you use for login PHP or other ?

[2019-04-27 14:46] klliks-com commented on #97
Python.

[2019-04-27 14:47] umeshdepale commented on #97
ok can you send me python file I use PHP

 

[2019-04-27 14:49] klliks-com commented on #97
I am here to understand how to solve captcha manually. only reason.
I have no problem to pay for this. but i need explanations.

[2019-04-27 14:52] umeshdepale commented on #97
I Have the same problem but I have API in PHP not in python if you help me to give python code so it's help me lot

[2019-04-27 15:22] klliks-com opened #101 "Captcha solve manually"
Hi Guys,

I need help to understand how can i solve the captcha manually?
The only thing i was thinking is to wrap it around APK but it's a lot of work.

Can i get clear explanations on captcha solver for this new puzzle?

@szdc please help me, we are in production.

[2019-04-27 15:28] Pilfer commented on #101
Open your MiTM application and log the requests. Look at the parameters being sent. Emulate those parameters and you're golden.

[2019-04-27 15:30] klliks-com commented on #101
Please share with me your contact. i will pay for your time.
I am working on latest version and have done MiTM and have all dumps.

I still not able to solve/login

[2019-04-27 15:34] szdc commented on #101
Please stop opening issues, this is not within the scope of this repository.

[2019-04-27 15:34] #101 closed

[2019-04-27 15:36] klliks-com commented on #100
@szdc why you acting like a bully? why is it so hard for people to be nice?
I am not spamming and not abusing. i need help and people here can help me.

You don't want to help - i don't understand why, but it's your life.
Let others help each other. stop being a fucker.

[2019-04-27 15:36] #95 closed

[2019-04-27 17:34] Pilfer commented on #100
It's a base64-encoded image. Prepend `data:image/png;base64,` to it and you can render it via HTML (try it out here: https://www.site24x7.com/tools/datauri-to-image.html).

Solve the captcha (`q6xm`) and log in again with the `captcha` field populated with the captcha solution.

[2019-04-29 15:47] Lekinio commented on #100
thanks,its worked

[2019-04-29 22:44] #100 closed

[2019-05-05 14:13] Lekinio opened #102 "trying to follow user-no result"
when i am trying to follow someone,api return me status_code:1 but api i have zero followings

what am i doing wrong?

![image](https://user-images.githubusercontent.com/9078186/57195256-78296380-6f61-11e9-9d6b-3bb81b438674.png)

[2019-05-05 17:04] dixakman commented on #102
you do not pass the test

[2019-05-09 10:51] Lekinio commented on #102
can you explain more?
![image](https://user-images.githubusercontent.com/9078186/57448216-e58f0a00-7269-11e9-9646-2ac70f84560b.png)

[2019-05-09 20:34] folt commented on #90
I have the same problem

[2019-05-21 06:54] marcosvalbonet opened #103 "api.listPosts(params) return undefined"
When I am trying to list posts, api return me undefined.

I call to api with the next code:
api.listPosts({
  user_id: '<user_id>',
  max_cursor: 10,})

As you can think, I add a <user_id>.
Has something changed in the api?

[2019-05-29 22:22] Lekinio commented on #102
can someone help me with this anti-spam params?

[2019-06-01 07:37] szdc commented on #91
`ListPostsInHashtag` uses `cursor`, which you use to skip results.  For example, if you retrieve the first 10 results with `count = 10` and `cursor = 0`, you can get the next 10 results by setting `cursor = 10`

[2019-06-01 07:37] #91 closed

[2019-06-01 07:37] szdc commented on #96
Not supported by this API at this time.

[2019-06-01 07:37] #96 closed

[2019-06-07 07:11] lebanggit opened #105 "How can it get the request of TikTok app?"
i  have setup Charles for Android VM. But i can't get the request of Tiktok.

just IP displayed:
![charles](https://user-images.githubusercontent.com/26843903/59087155-19735300-892e-11e9-89d4-a682178b8ea3.jpg)

[2019-06-17 19:55] umeshdepale commented on #105
use packet capture download it from playstore.

[2019-06-20 10:19] lebanggit commented on #105
It's required:

My ADV can not install it.

[2019-06-24 17:13] favourodoyo commented on #41
By the way,  which programming language or platforms CAn I write Tiktok api on?.. Is it ionic or react?

[2019-06-24 17:15] favourodoyo commented on #41
They just placed it there with out showing which platform to run it on.. I know it javascript Es6..but how do you call the api on ionic or react?

[2019-07-04 10:22] Bodicj commented on #103
I had the same issue with this method. Have you got any solution?

[2019-07-09 11:39] DhrubaGlb commented on #102
I'm also facing the same issue.

Also noticed that, one request parameter is responsible for this.

Request Parameter :
**"**X-Gorgon= 0330c1cb4400c707a9da28709e3f2e4b612def70a198e31a90e6**"**

It is of 52 characters length and changing with every request. I can't able to predict how its forming.

Some other X-Gorgon values...
03b5c660440026e33c7545d9a2769d135910a714028da82a2b26
030000004400d2b635

[2019-07-16 17:10] umeshdepale commented on #102
Hi, I also face this issue i get the success message but user not followed any body have a solution

[2019-07-22 18:48] fusillijerry89 commented on #102
What's your contact info? Let's work together

[2019-07-23 02:33] chen-yifu commented on #72
Could you please elaborate on how you figured out the paramerters for signURL and params?? Thanks in advance!

[2019-07-25 03:24] liuxuan30 commented on #102
Has anyone figured out `X-Gorgon`? On my side, I saw the input is a 20 bytes long data and output is 26 bytes long. Why you see it's 52 is because it split every char. e.g. 0x12 is '12', so 26 * 2 is the size.

It's some sort of encoding, not like hash and encryption.

[2019-07-27 07:58] umeshdepale commented on #102
You find the any solution ??

[2019-07-27 07:59] umeshdepale commented on #102
if i try to like then it show the TRUE response but does't like the videos

[2019-07-29 01:34] liuxuan30 commented on #102
No I don't. X-Gorgon is kind of new, and heavily protected from RE. Need some experts on this. AFAIK, there is a random number joined, the output for every app launch is different for the same input.

[2019-07-30 07:32] kamyweb commented on #103
Same issue

[2019-07-30 09:50] kamyweb commented on #103
I don't know why, but if you change the device_type works - ex. :
`params.device_type = 'EML-L29';`
after getRequestParams and before instance TikTokAPI class.

[2019-08-08 07:03] fhartavi commented on #102
Its can be md5(time())?

[2019-08-09 19:15] umeshdepale opened #107 "what is X-Gorgon is it important to sent follow and heart"

[2019-08-12 15:43] kicks66 opened #108 "Unexpected token { when running"
I'm using the default setup mention in the docs:

import TikTokAPI, { getRequestParams } from 'tiktok-api';

[code]

With necessary parameters in. However I am getting the following error:

[code]

I tried a solution on here to change the first line to `import { TikTokAPI, getRequestParams } from 'tiktok-api';` and receiving the following error:

[code]

[2019-08-16 08:53] charlieAndroidDev commented on #102
The 2 params passed to the native function 'levaiathan' (which computes x-gorgon) is currentTimeMillis / 1000 and all the request parameters as a string.  I will be reversing this properly in the native layer when I'm back from holiday.

[2019-08-16 17:22] umeshdepale commented on #102
Can u please explain With this a example or its working or not to solve the sending follow issue

[2019-08-21 23:20] ishandutta2007 opened #109 "Can I create an account using tiktok API ?"
Looking for ways to create more than one account without a phone

[2019-08-26 02:37] liuxuan30 commented on #102
@charlieAndroidDev x-gorgon is not that simple. It's obfuscated on iOS at least. I'm not sure if it's easier on android. But for iOS, the input contains timestamp and first 4 bytes of md5 of some fields, such as the parameters and cookies, if exists.

[2019-08-26 16:16] charlieAndroidDev commented on #102
@liuxuan30 yes absolutely.  It's heavily protected from RE.  I am making progress with it but it is slow.  I've hooked the native JNI function with Frida but there are some issues when trying to look at the jint and jbyteArray arguments.

The native 'leviathan' function calls the Java method 'njss' multiple times and I believe the result of each call is used but I'm not sure how yet.  I'm not goin

[2019-08-28 01:07] liuxuan30 commented on #102
@charlieAndroidDev sure and also for everyone, I'm on iOS side RE, so I think x-gorgon is a shared mechanism, should be same. So far I have progress like what I said above

[2019-08-28 19:29] charlieAndroidDev commented on #102
@liuxuan30 ok cool man.  I will update with anything major that I find.  I have found out that I think they are using anti-debugging techniques like looking at `/proc/self/cmdline` and I cannot make my own version of `leviathan` work correctly, it always returns null.

I will try and patch these mechanisms and report back!

[2019-08-29 14:44] BaderSerhan opened #110 "[Question] Legality"
I would like to know the legality of using this in my app. Have you had any legal issues or concerns with the TikTok people regarding this? And do you have any examples of products/companies using this library? I would like to see it in action and inquire about the legality of embedding this in my app.

Thank you in advance to anyone who responds!

[2019-08-31 07:40] kishan2212 commented on #73
i checked the page source but they removed and changed it water mark tag inside of Video key.
 can you help me out ?

[2019-09-02 10:32] umeshdepale commented on #102
Hi same problem face by sending likes can anyone find the solution

[2019-09-02 16:07] DanielAscher commented on #102
@charlieAndroidDev

how far are you with this?

by saying it returns 0, it seems like you got the code, but some safety Check is not working? I might have a hint on this. (I'm not too good at all this, but it might be worth it).
any way I can hit you up?

[2019-09-02 17:04] charlieAndroidDev commented on #102
@DanielAscher Yeah I've actually found that it does return the correct value from the function in the java layer but in the native layer my Frida logic for printing the return value must be flawed, so it's no issue.

But what is an issue is that I have found the debug symbol for function `leviathan` which is `0x60d24` in the latest x64 library.  When I look at this function in Ghidra it is so mess

[2019-09-02 17:24] DanielAscher commented on #102
@charlieAndroidDev

that will probably surpass all of my understanding as I'm not really good at this at all.

so you are stuck replicating the native function at the moment?

[2019-09-02 17:36] charlieAndroidDev commented on #102
@DanielAscher that's fine!

Yeah I'm stuck trying to figure out what the native function does.

[2019-09-02 18:22] DanielAscher commented on #102
@charlieAndroidDev

I guess, just as you said, this part is made REALLY hard now. as i read that from different sources. (mostly, from the sister app douyin (china) which doesn't do the exact same as the tiktok app, but mostly the same (for whatever reason, i honestly dont know)).

Do you even think this is reversable, or do/can we go a different route in generating this value, like running a andr

[2019-09-03 00:44] liuxuan30 commented on #102
Should get you guys a private channel for this. tiktok must be watching this thread lol

[2019-09-03 04:46] Snowfirewall commented on #102
Am very new to Andriod de-compilation, but found a pattern in the "X-Gorgon" generated keys.

Let's say if the header is "0300000000007e2d25e04f6107e23d1bcca6c36eade7bbe30b8b" then to my understanding it is combination of two strings. First part is a unique identifier of a session and other one is a SHA1 hashed string.

Ex : 0300000000007e2d25e04f6107e23d1bcca6c36eade7bbe30b8b is the header if you

[2019-09-03 05:14] szdc commented on #110
No concerns have been raised. No examples. Don't use this library to create bots or anything similar.

[2019-09-03 05:14] #110 closed

[2019-09-03 05:15] szdc commented on #109
I don't have any plans to support account creation.

[2019-09-03 05:15] #109 closed

[2019-09-03 05:15] szdc commented on #108
What version of Node are you using?

[2019-09-03 11:26] ishandutta2007 commented on #109
@szdc The questions could have been better answered with `yes` or `no`? Let's keep the issue open, open-source community may have different plans.

[2019-09-03 18:46] charlieAndroidDev commented on #102
Yeah add me on discord: khamul#3764

[2019-09-05 06:54] samukherjee opened #111 "Getting This Error - 'TikTokapi' object has no attribute 'signature'"
Console Error -

New class reference, finding valid signature. This might take a minute.
Traceback (most recent call last):
  File "getTrending.py", line 11, in <module>
    trending = api.trending(results)
  File "C:\Users\Sagar\Downloads\TikTok-Api-master\tiktok.py", line 48, in trend
ing
    self.signature
AttributeError: 'TikTokapi' object has no attribute 'signature'

[2019-09-05 07:35] #111 closed

[2019-09-05 08:37] jennyfive commented on #108
same issue here, node v12.10.0

[2019-09-05 08:54] jennyfive commented on #108
An alternative:

[code]

[2019-09-05 21:01] filipdraganic opened #112 "Do i need to create a session in order to list posts?"
Hey, szdc,

My goal is just to list as much links to vidoes of a certain hashtag, what is the easiest way to do this?

Thanks!

[2019-09-06 09:36] DanielAscher commented on #102
@charlieAndroidDev I sent you a friend requ on discord username gatr...

[2019-09-08 07:21] delmotte opened #113 "Send/Receive messages"
**Describe the solution you'd like**
Is it possible to add send/receive messages features in the library ?

[2019-09-09 02:11] januarionclx opened #114 "[Question] Request rate limits for average users like me who don't have access to anti-spam parameters."
Hey guys!,

Before continuing with the question I'd like to stop and take a moment to first congratulate and appreciate the work that @szdc has done for us.

His work is inspiring and beautiful, he not only reverse-engineered the whole thing, but he wrote an article explaining it all, and yes, he had fun with it, but you have to applaud when people have fun creating, understanding, teaching and he

[2019-09-13 22:37] timbilino commented on #103
Same error, sorry, any answer?

[2019-09-13 22:55] timbilino commented on #103
it didn't work out for me :(

[2019-09-14 02:43] reliefs commented on #114
how do we get the anti spam params burp the app or ?

[2019-09-14 06:36] januarionclx commented on #114
That's quite a bit outside of the scope in this issue, check the discussion at #9 for some hints about it.

[2019-09-18 17:36] CesarIAndrade commented on #114
I tried to obtain the followers from a tiktok user, but i don´t how after (i don´t know) the request failed, then i tried to do that again and the api gave a null object as response

[2019-09-19 01:20] cuckforlife opened #115 "the 3 anti-spam parameters no longer used by tiktok?"
Hey I did an MITM on my tiktok (Android) to check the API calls, I can't see the anti-spam parameters :
as
cp
mas

They changed the security?

Issue is... every time I login with `loginWithEmail`, they ask to resolve the captcha. After I solve it it's good (I have included my 2captcha library). But it's annoying to wait 20 seconds to solve the captcha every time I want to run my script.

Edit : I

[2019-09-20 17:40] hrehman200 commented on #103
@kamyweb answers works, but you will need to change device_type to device model on which you installed Tiktok app and used it for a while e.g. I installed Tiktok on Samsung Galaxy J7 Prime (SM-G610F), I changed device_type in code from 'Pixel' to 'SM-G610F' and listPosts function is now returning posts.

[2019-09-20 23:41] reliefs commented on #115
can you share the fix repo with 2captcha ?

[2019-09-21 22:52] fagenorn commented on #115
You need to make sure you edit device_id and install_id too. However, these variables are generated by TikTok based on various parameters.

The endpoint you need to call before logging in (to register a device) is `https://log2.musical.ly/service/2/device_register/`

The most important part of registering a new device is the body of the request. It doesn't seem like the headers or query params mat

[2019-09-24 02:24] cuckforlife commented on #115
Thanks @fagenorn. When is the `device_register` API called so I can study it? I can't see it on the github doc.  API is called first time I login on the app on a given phone?

[2019-09-24 02:25] cuckforlife commented on #115
Sure. Actually I never found a 2captcha library on github so I coded my own. I'll put it public.

[2019-09-25 12:15] SebastienWae commented on #115
That's actually the generic error they give when the request signature is missing, or invalid.
From what I found you can use the same signature as much as you want for a few minutes after it was created, then you'll be able to use 5-6 times and it will become invalid.

So make sure the one you are using is not too old and if you are changing the body don't forget to recreate the `X-SS-STUB` header

[2019-09-28 16:59] umeshdepale commented on #115
If I Try Send Heart Then I Heart not be send why?? can anyone help me I use php TikTok API.

[2019-10-02 18:05] maestrocoder commented on #115
@SebastienWae - can you confirm the code in the repo still works?
we got everything from the mitmproxy including the deviceid from the device_register call except the fp: <device_fingerprint> . where do we get the device_fingerprint?

@cuckforlife - can you please share how you solved the captcha issue by editing the tiktok-api with my own custom parameters (phone model, etc)?  I am getting blocke

[2019-10-03 16:23] leumasme commented on #102
Have you made any progress?

[2019-10-03 20:25] SebastienWae commented on #115
@maestrocoder - this repo use an older version of the API some parameters might be different than the one use by the current app.
For the captcha, there is no way around if you want to register an account but it's very easy to solve it, if you get hit by a captcha on login then try to change you parameters or IP it happens but it's very rare.

[2019-10-06 07:27] ericsia commented on #102
here's a few sample
X-Gorgon: 0361eee04001003ae64f827b89a7ad8e0d52d5d25531b87c0871
X-Khronos: 1570325849
X-Gorgon: 030000004001c2f6419db68de04092e0811af701e76f94a94e34
X-Khronos: 1570325500
X-Gorgon: 036a13eb40018f003b820ea7f94a759eac59541f638c800becbd
X-Khronos: 1570326312

[2019-10-06 08:39] DanielAscher commented on #102
@ericsia do you have the method to register new devices?

[2019-10-06 19:34] ericsia commented on #102
why register new device? that's like a spam... while, the gorgon not even fully ported yet..

[2019-10-06 19:41] DanielAscher commented on #102
@ericsia x-gorgon isn't really important yet, as you can just use an older tiktok version which didnt have x-gorgon and everything still works fine. meanwhile blocks of deviceid and installid can only be get by by registering a new device.

so the first thing to have should be the method to register new devices (or better said, encode the body of that method), then the other stuff

[2019-10-06 20:41] ericsia commented on #102
you see the problem is old api is unreliable.
when I tried the old api, like in 10times I use to call the video, maybe 2-3 times it don't return anything.
Plus who knows when tiktok block the old api completely it just a matter of time. That's why we actively working to get x-gorgon, now need to port java's [public static native byte[] leviathan] to c++ or python

[2019-10-06 20:55] DanielAscher commented on #102
@ericsia the old api isn't unreliable at all for me. i can do pretty much everything with it. What tiktok absolutely loves to do is action block device and install ids, meaning a call to the api would return no response (but a status code of 200). the new tiktok version still use the same api endpoints as the old ones, and return the exact same data.

the far better action right now is to get new

[2019-10-06 23:19] ericsia commented on #102
we are moving at different direction. I am interested in getting the no watermark video. It's pointless to argue here, I already tested smtime it won't return even on first request. I suggest u start a new thread on your registration concern

[2019-10-07 05:20] DanielAscher commented on #102
@ericsia the original post here has exactly that problem i am outlining here. The OP doesnt have a problem of missin x-gorgon, but a problem with device and iid.

If you used an old iid or deviceid (or even a new iid with an device id already used sometimes), then tiktok does that. thats their way of rate limiting. ive done extensive tests so i know how and when tiktok limits and returns nothing.

[2019-10-07 11:54] cook1e-monster commented on #42
@LCSP can you add here the anti-spam repository ?  thanks

[2019-10-08 16:10] sp0oon opened #116 "aweme/v1/aweme/detail/?aweme_id endpoint gone?"
Until recently I was able to use the "aweme/v1/aweme/detail/?aweme_id=" but it seems like it's no longer working as of a few days ago?

Is anyone else having the same issue?

[2019-10-09 07:05] DanielAscher commented on #102
apparently, that register device is cracked:
https://github.com/xsuspectx/tiktok-register-device-crypto/blob/master/README.md

[2019-10-11 05:01] alpharameeztech commented on #103
@hrehman200 @timbilino. I don't understand that. In order to search and list the post of the user on my web application, I first need to install tiktok app on my mobile phone and then get params.device_type for the web application to run?

[2019-10-11 05:12] hrehman200 commented on #103
Well thats how it worked. Tiktok doesn't appreciate you call their api from web. So we have to try various hacks to get things done.

I could login and search users. But listing posts of a user wasn't working. I tried various things. In the end the solution I described above worked for listing posts.

For other api calls, we still have to deal with spam parameters I guess.

[2019-10-11 05:47] alpharameeztech opened #117 "How can I get device info from the API call through web app"
I don't understand that. In order to search the user and list the post of the user on my web application, I first need to install tiktok app on my mobile phone and then get params.device_type for the web application to run? How can I make it work with this API?

[2019-10-11 05:50] alpharameeztech commented on #117
How can I verify my device from the web API?

[2019-10-11 06:02] Nisthar commented on #115
@SebastienWae is this library still working?

[2019-10-11 06:07] alpharameeztech commented on #103
@hrehman200 thankyou for your reply, much appreciated. Okay, so now I have to install the tiktok app on my phone but titkok won't display the device information needed by the API. How can I make it work?

[2019-10-11 06:12] hrehman200 commented on #103
As mentioned by author of this repo:
[code]

[2019-10-11 06:24] alpharameeztech commented on #103
@hrehman200 thanks a bunch. I am going it give it a try on iPhone

[2019-10-11 07:09] hrehman200 commented on #103
Ok please update this thread with your findings.

[2019-10-11 09:23] alpharameeztech commented on #103
@hrehman200 Once I launch Packetcapture, the internet stopped to work and then it doesn't load anything on tiktok ofcourse

[2019-10-11 10:09] hrehman200 commented on #103
Yeah i noticed it too today. Last time it worked. Now will have to find
another way.

On Fri, 11 Oct 2019, 2:23 pm Rameez Israr, <notifications@github.com> wrote:

[2019-10-11 10:16] alpharameeztech commented on #103
@hrehman200 let us know if you find one. Thanks alot :)

[2019-10-11 19:57] hrehman200 commented on #117
You can't, you need to use real device_id.

[2019-10-11 19:59] hrehman200 commented on #103
So the other way is:
- You jailbreak your iPhone
- Use SSL Kill Switch to bypass SSL Pinning
- Use burp to capture requests

I didn't do these things myself, but a colleague of mine did and he shared with me request / response.

[2019-10-12 19:50] SebastienWae commented on #115
@Nisthar No idea I havnt used it in a while but check my repo if you want to generate "X-Gorgon" and "X-Khronos" for the current version of the API.

[2019-10-14 05:11] alpharameeztech commented on #103
@hrehman200 thank you for your effort, much appreciated :)

[2019-10-15 13:51] ericsia commented on #102
@liuxuan30 and other reverse engineering who like to crack it. register a wechat account I add you inside the group. Search my wechat id: mrericsia
I will post all my findings everytime a new person enter the group. If you are interested in the unpacked.so trying your luck you may join too

[2019-10-17 03:13] husligc commented on #117
Is this working for anyone?

[2019-10-23 01:23] honeydewlover opened #118 "listPosts and max_cursor"
Hello,

First want to say thanks to @szdc,

This is likely a misuse on my part but when making a 'listPost' request I am not able to list past the first 20 posts. I am under the assumption that the property 'max_cursor' is the timestamp offset from which posts are listed from.

I am entering the 'create_time' property of the 20th post as the 'max_cursor' for the next call. Nothing is being returne

[2019-10-23 02:49] #118 closed

[2019-10-23 02:51] honeydewlover commented on #118
I have found the solution, make sure the maxcursor is the correct format.

For me, if the last video's 'create_time' property is 1569290716. The next call's 'max_cursor' should be 1569290716000.

Cheers

[2019-10-24 18:50] PJ-G commented on #90
Is this issue resolved?

[2019-10-24 20:14] EnderDev commented on #90
Yup.

[2019-10-24 20:14] #90 closed

[2019-10-26 14:02] BarryAllenJr commented on #115
can't find your repo, link please?

[2019-10-26 14:04] BarryAllenJr commented on #102
can i join it?

[2019-10-27 22:52] PJ-G commented on #117
Would we be able to get the device_id through the iOS app? All suggestions point to breaking down APKs of Android Apps. Or better yet is there a list of endpoint's and authentication methods so I could write my own implementations?

[2019-10-28 00:02] mastercho commented on #117
I saw peoples invent API generators for device fingerprint, but not sure how they manage to do it.

[2019-10-28 08:58] LeeTrong commented on #58
Please show me how to get the device_id, device_fingerprint, install_id, device_open_udid parameters.

[2019-10-30 01:43] atwleung opened #119 "fp (finger print) query string parameter seems is no longer existing in recent login related MITM capture"
**Describe the bug**
A clear and concise description of what the bug is.

fp is one param required in getRequestParams. However, in recent MITM capture, I no longer sees the parameter. So users of tiktok-api can no longer supply the value of this parameter

**To Reproduce**
A small example of code that reproduces the bug.

I can share the MITM capture via private messages.

**Expected behavior**

[2019-10-30 01:52] honeydewlover commented on #119
Your expected behavior is correct, I have the same results.

[2019-10-30 01:54] szdc commented on #119
Thanks.  I haven't updated this repository for a while so will take a look when I can.

[2019-10-31 08:56] F-W-D commented on #115
Is someone able to confirm whether we need the anti-spam parameters still? Also if this repository still works properly?

I understand how to work with requests, but I have no NPM or Node.js experience and very little Android experience. I REALLY want to work with this API and have been working on it for a few days now trying to figure it out. If I'm beating a dead horse can someone please put me

[2019-11-04 14:36] sashastg opened #120 "still works?"
get empty response "data".  looks like few days ago they change api, and now its not works at all.  anyone has same issue?

[2019-11-04 22:40] drakos commented on #120
Hi, same thing here, empty response. If I use a signed url from official android app and make a GET call like /aweme/v1/user/?user_id... via my code then it works. I think they have turned on anti-spam as/mas/cp params.

[2019-11-05 00:57] atwleung commented on #120
There are some older version of the app here: https://androidapksfree.com/tik-tok/com-zhiliaoapp-musically/old/

I suspect re-running and capturing traffic patterns from old app might be helpful to troubleshoot

[2019-11-05 10:36] drakos commented on #120
Hi, I have made some additional tests and it seems that device_id and iid parameters are the issue. If you take those two parameters from a real device the API calls will start to work. Can anybody try this this to confirm it?

[2019-11-05 11:09] atwleung commented on #120
I took device_id and iid from my Genymotion Android 6.0 emulator. Some API calls can work, such as SearchUsers.

I was not able to get login working, as I haven't implement the anti-spam signing functions yet: https://github.com/szdc/tiktok-api/wiki/Generating-anti-spam-parameters

[2019-11-06 15:22] morlok1 commented on #102
Hi for everyone!
I want to join your discord too
Morlok#9335

[2019-11-07 08:25] p4rnicke commented on #115
@SebastienWae your repo is gone. Can you share some info? khronos is just the unix timestamp as I see.

[2019-11-09 10:57] p4rnicke commented on #120
They have changed a few things since.
As I see they use a secure user id instead of the numeric user id.
Also they added x-khronos and x-gorgon to the header which seerves now as the new antispam parameter. Khronos is just timestamp, but Gorgon is the signature of the url (+ timestamp).

[2019-11-09 19:28] aimadnet commented on #120
@p4rnicke u figured out how to generate the gorgon token?

[2019-11-10 06:30] p4rnicke commented on #120
Unfortunately not. It is an obfuscated code like previously was. @SebastianWae claimed he did it, but deleted his repo before I could check.
I think it will popup on a chinese page soon.

[2019-11-10 15:13] aimadnet commented on #120
Oh ok
I'm stuck at leviathan func

[2019-11-10 16:06] p4rnicke commented on #120
Yes, it’s the leviathan...

[2019-11-11 14:58] asymness opened #121 "The postComment method is not working for me"
The postComment method in the API is not working for me. The response includes a success status code and and a status message stating "Comment sent successfully.", however the comment does not appear on the post. Can someone else try and see if they can reproduce this problem?

**To Reproduce**
Steps to reproduce the behavior:
1. call the postComment api method with a post ID and a comment text.
2

[2019-11-12 15:35] Amirh24 opened #122 "Are the current docs correct? Seems to not work"
**Describe the bug**
API not working following the current docs (inserting 3 anti-spam parameters and device parameters)

**To Reproduce**
Follow the docs to call the API

**Expected behavior**
It should work

**Additional context**
I see that others are experiencing the same behavior and it a result of a TikTok internal change

[2019-11-12 16:46] Archiolidius commented on #114
@januarionclx I do not have a lot of knowledge on this subject but here is my opinion:
1) This is an unofficial API. TikTok does not have an open API. So most likely using this API is against their TOS.
2) They must have protection from bots and scrapers. There is no way you can do hundreds of thousands of requests under one account in a short period of time.
3) What companies do in such cases: bl

[2019-11-13 13:26] elliotalderson-py opened #123 "Captcha Error"
**Describe the bug**
Captcha error

**To Reproduce**
The code says "captcha error" because of the new "puzzle captcha" method

**Expected behavior**
With image recognization it should work

**Additional context**
Can't log-in and do any operation

[2019-11-14 21:43] stevensebaweg commented on #120
any updates? it seems impossible to figure out how x-khronos/x-gorgon are generated? We know that the are unique to EVERY request. I can't figure out if x-Khronos/x-gorgon was created specifically by the TikTok app makers or if they are from some public codebase that are used in other applications...

[2019-11-14 23:09] stevensebaweg commented on #102
any updates on this issue of generating X-Gorgon?

[2019-11-15 13:41] KlliksMarketing opened #124 "Any information on x-trace-id"
Hi Guys!

Anyone have any information on generation of x-trace-id?

Thanks

[2019-11-18 12:21] raien opened #125 "You are visiting our service too frequently."
so, what can i do ?

[2019-11-18 12:30] #125 closed

[2019-11-18 17:41] jolieprince opened #126 "Required Complete Working TikTok BOT Application."
Hello Bro, If you can make Complete Working  Bot for tiktok please do contact me asap. I need it. jolieprince29@gmail.com

[2019-11-19 01:50] raien opened #127 "You are visiting our service too frequently"
so,  what can i do ?
thanks

[2019-11-19 01:51] szdc commented on #127
Stop making API calls so frequently.

[2019-11-19 01:51] #127 closed

[2019-11-19 02:29] raien commented on #127
@szdc     Thank you for your reply， I need to send request of login  interval time ?

[2019-11-19 03:10] raien opened #128 "how to logout ?"
how to logout ?

[2019-11-19 10:57] raien commented on #102
@Lekinio  u can login success ?  as I haven't implement the anti-spam signing functions yet ?

[2019-11-19 12:59] KlliksMarketing commented on #119
@szdc Anything new on deviceID and InstallID ?

[2019-11-20 09:40] raien commented on #102
@stevensebaweg any updates on this issue of generating X-Gorgon?

[2019-11-24 15:44] umeshdepale opened #129 "How to send tiktok views throught API Successfully"
Anyone have a API for sending views to the video's

[2019-11-25 08:06] shivamchouhan opened #130 "[Installation] please anyone can guide me to install this bot."

[2019-11-26 00:05] reteps commented on #130
intercept url parameters with charles proxy, use example program with url parameters?

[2019-11-26 00:09] reteps commented on #120
Adding onto @stevensebaweg is there any updates? @p4rnicke

[2019-11-26 00:12] szdc commented on #130
No information was provided, and this is not a bot.

[2019-11-26 00:12] #130 closed

[2019-11-26 00:13] reteps commented on #119
@szdc any updates? It appears a bot using the TikTok api was written in PHP over [here](https://github.com/snuzi/tiktok-scraper-php), maybe they are using a more recent TikTok api.

[2019-11-26 18:52] DroScope opened #131 "Is there any way to download videos or copy the share link? This would be a nice feature"
Sorry, this is my first comment, just suggesting a download/copy link option. Thanks!

[2019-11-27 09:34] BrokedTV commented on #57
Any update on this? :D

[2019-11-27 17:53] BenjaminMueggenburg commented on #131
Here's an example where you can get the `share_url`

[code]

[2019-11-28 18:17] dombrocarl commented on #120
i will pay $1000 for anyone who can make this work. :)

[2019-12-01 01:25] fagenorn commented on #120
For anyone struggling with generating XGorgon/XKhronos combination:

XGorgon is generated by concatenating four strings:
 - Hex value of the md5 of all get parameters
 - X-SS-STUB header value (Which is the hex value of the md5 of the request body)
 - Hex value of the md5 of the cookie header value
 - Hex value of the md5 of the session id (which can be found in the cookie header)

If any of the f

[2019-12-01 17:27] p4rnicke commented on #120
@fagenorn how I contact you?  We can offer payment for your services.

[2019-12-03 09:06] junges521 commented on #102
Hi for everyone!
welcome to join the qq group 1570207752

[2019-12-04 01:16] atwleung commented on #120
Many thanks for @fagenorn , I used dex2jar to get the jar from the apk. Then I noticed I can see the logic for creating XGorgon in the source file using JD-GUI.

I am wondering, apart from reverse engineering leviathan, we might be able to get leviathan working by adopting the approach described in https://github.com/szdc/tiktok-api/wiki/Generating-anti-spam-parameters

[2019-12-04 11:06] fagenorn commented on #120
@atwleung Definitely possible to emulate a real android device, but do note that the leviathan algorithm checks for many popular emulation techniques (including using a real android device but automating taps and gestures.) and penalizes the user based on this.

[2019-12-06 23:18] fusillijerry89 commented on #102
https://discord.gg/4fcw8U

On Tue, Dec 3, 2019 at 10:06 AM junges521 <notifications@github.com> wrote:

[2019-12-06 23:24] fusillijerry89 commented on #102
Yes you can join the entry group. Then we pick some to move to the main group.

[2019-12-06 23:24] fusillijerry89 commented on #102
LInk above

[2019-12-06 23:30] fusillijerry89 commented on #120
https://discord.gg/4fcw8U

We'll let you into the main group after.

[2019-12-10 14:34] Inkeliz commented on #120
@fagenorn, did you know why it doesn't work for every endpoint?

I mean, some endpoints (`/aweme/v1/commit/item/digg/`,  `/aweme/v1/discover/search/`...) works flawless, using the `leviathan` as you described (the only modification is using the "byte value" rather than the hex).

However, some endpoints (`/aweme/v1/aweme/post/`, `/aweme/v1/user/follower/list/`) doesn't work, even using the exact s

[2019-12-10 21:41] 19h commented on #120
🤫 https://github.com/usualwyy/aweme-algorithm/blob/master/API/units/utils.go

[2019-12-12 00:58] stevensebaweg commented on #120
It says that the invite has expired… can you redo?

From: Luke [mailto:notifications@github.com]
Sent: Friday, December 06, 2019 6:30 PM
To: szdc/tiktok-api <tiktok-api@noreply.github.com>
Cc: Steve <stevensebaweg@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [szdc/tiktok-api] not works more for me. you have same problem? (#120)

https://discord.gg/4fcw8U

We'll let you into the ma

[2019-12-12 01:36] szdc commented on #131
Adding to the comment above, the download link is available at `res.data.video.download_addr` ([ref](https://github.com/szdc/tiktok-api/blob/master/src/types/video.d.ts#L8))

[2019-12-12 01:36] #131 closed

[2019-12-12 01:37] szdc commented on #129
Bulk views are not a use case for this API.

[2019-12-12 01:37] #129 closed

[2019-12-12 01:37] szdc commented on #122
Probably not as I haven't updated the API in 10 months.

[2019-12-12 01:39] szdc commented on #123
This API doesn't support completing captchas - you'll have to implement that yourself.

[2019-12-12 01:39] #123 closed

[2019-12-12 15:05] Armax commented on #102
Link not working

[2019-12-12 16:49] mr-landerson commented on #102
https://discord.gg/SGFvXN

[2019-12-13 17:29] mr-landerson opened #132 "Discord Group"
I think this group might help keep certain conversation out of the Issue Tracker.

https://discord.gg/KnkHVD8

[2019-12-15 13:56] rst630 commented on #102
any news about x-gorgon?

[2019-12-18 06:20] beshoo commented on #122
@szdc is this the end of life for this API ?

[2019-12-19 08:15] design365 commented on #122
[root@kind-wall-2 tiktok-js]# node test.js
(node:22902) Warning: To load an ES module, set "type": "module" in the package.json or use the .mjs extension.
/data/run/tiktok-js/test.js:1
import TikTokAPI, { getRequestParams } from 'tiktok-api';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at wrapSafe (internal/modules/cjs/loader.js:1055:16)
    at Module._compile (internal/m

[2019-12-19 23:23] #124 closed

[2019-12-20 23:40] davidteather commented on #122
Tiktok changed quite a bit to their api last month that probably broke this one. I don't have all the same functionality in my module, but you can get TikTok json objects and download videos and more.

[TikTok-Api](https://github.com/davidteather/TikTok-Api)

[2019-12-24 09:15] Dimabytes commented on #121
Did you solve it? I had the same issue

[2019-12-24 17:24] aleboga4ev commented on #120
Hello everybody! Who want to sell me solution please contact me by telegram @AlexandrAPI

[2019-12-26 11:00] mylocalcoin opened #133 "fake people use this app who is already dead and i want to report because its like you are insulting and crossing the limits of privacy policy"
**Describe the bug**
@nerryyadav tiktok id is already r.i.p and you were promoting dead person and its against the privacy policy

**To Reproduce**
A small example of code that reproduces the bug.

**Expected behavior**
r.i.p person reported and fake community generated huminity act

**Additional context**

[2019-12-26 11:07] szdc commented on #133
I don't know what you're talking about.

[2019-12-26 11:07] #133 closed

[2019-12-27 09:27] Miladinho commented on #115
How much will you pay?

[2019-12-31 06:39] Roshett opened #135 "Verification code error, please re-enter the verification code."
Now, if you wanna login with Email, send response in data that 'Verification code error, please re-enter the verification  code.'

[2020-01-02 08:57] DeBerk opened #136 "How to generate X-Tt-Token?"
-

[2020-01-02 14:06] Abdulsamipy opened #137 "how to run?"
hi, i am a complete newbie here can anyone guide me on how to run this ..and where to add username and pass

thanks & pardon for this stupid question

[2020-01-03 08:28] zek commented on #115
@Miladinho can you share your email address with me?

[2020-01-10 01:06] PeterPorzuczek commented on #116
Probably because of this https://research.checkpoint.com/2020/tik-or-tok-is-tiktok-secure-enough/

[2020-01-11 09:41] cuongsapi opened #138 "Can not get parameter. Please explain for us this parameter"
Please explain for me this parameter here. How to create it.
const params = getRequestParams({ device_id: '<device_id>', fp: '<device_fingerprint>', iid: '<install_id>', openudid: '<device_open_udid>', });

[2020-01-11 13:04] scicyb commented on #102
Does anyone know what parameters are passed to the method `leviathan` method is in?
Parameters are `String str` and `Map<String, List<String>> map`.
I managed to properly call `leviathan` but I dont know exactly what are the above params.
[code]

[2020-01-11 16:51] ericsia commented on #102
I doubt you can call it. it's just hash string pass through it. if you managed pass it leviathan would have return you value already. Mind to explain what your "properly call" actually mean?

[2020-01-11 20:54] scicyb commented on #102
@ericsia I have leviathan function I just dont know what parameters are.
```result = mo24495a(URL, {"COOKIE":COOKIE}, 1574392611, lambda s, d: x.leviathan(emulator, s, d))```

[2020-01-12 13:34] disco-mayhem commented on #102
@scicyb without function itself we can't tell you which parameters are you have to pass.

[2020-01-12 19:39] scicyb commented on #102
@disco-mayhem I don't have the source of the function Im calling it directly from ```libcms.so``` using Unicorn.

[2020-01-12 20:08] ericsia commented on #102
Forget about unicorn, the latest douyin libcms.so require certain authentication before the leviathan would return a value. What authentication? It is in njss, what in njss? I'm not sure

[2020-01-12 21:20] scicyb commented on #102
@ericsia Yes, its a shared lib too.

[2020-01-14 06:09] sachinsaw729 commented on #72
const as = 'anti-spam parameter 1';
const cp = 'anti-spam parameter 2'
const mas = 'anti-spam parameter 3';
return ${url}&as=${as}&cp=${cp}&mas=${mas};
}

Is there any solution for this anti-spam Parameter 1,and how to create these parameters please help

[2020-01-17 15:32] ajith-ab opened #139 "http://localhost:3000' has been blocked by CORS policy"
I have been installed in react then I will get

http://localhost:3000' has been blocked by CORS policy

[2020-01-19 22:47] SuhatAkbulak commented on #102
@scicyb pls send me apk and sent crypto java.

[2020-01-20 06:31] ajloveslily14 opened #140 "profile changing"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd like an API to modify the current logged in users profile, things such as name, bio, and avatar

[2020-01-20 12:10] scicyb commented on #102
@SuhatAkbulak Sorry, I dont know what you're talking about.

[2020-01-20 12:11] scicyb commented on #102
@SuhatAkbulak Sorry, I dont know what you're asking for.

[2020-01-22 11:21] pankixoi2113 opened #141 "Upload Video"
Has anyone tried to upload a video? When I try to download, I get an error {"code":400,"error":"MismatchChecksum","message":"mismatch checksum"}}

[2020-01-22 11:35] Ariel042cohen opened #142 "Video views count"
Do you know how can I get video views count? I only see on the api likes count, shares count and comment count.

[2020-01-26 21:23] arsalyou opened #143 "How can I implement these APIs Android ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context here.

[2020-01-27 22:31] arsalyou commented on #142
Hello,
Can you provide me sample parameters which you supplied in here?

const signURL = async (url, ts, deviceId) => {
  const as = 'anti-spam parameter 1';
  const cp = 'anti-spam parameter 2'
  const mas = 'anti-spam parameter 3';
  return `${url}&as=${as}&cp=${cp}&mas=${mas}`;
}

// Required - device parameters
// You need to source these using a man-in-the-middle proxy such as mitmproxy,
// C

[2020-01-30 15:19] Mateeen commented on #73
@kishan2212 did you found any solution?

[2020-01-31 11:22] DeBerk opened #144 "DELETED"
-

[2020-02-04 20:49] tokjii opened #145 "Smaller resolution videos available?"
I'm getting videos by making requests from `https://www.tiktok.com/share/item/list?secUid=&id=&type=5[...]`. Many videos are 1280x720 but I need way less than that. Instagram's API response has return numerous video links for different screen dimensions. Does TikTok offer something similar?

[2020-02-04 22:38] tokjii commented on #145
Spoofing the user agent also didn't work for me

[2020-02-07 02:56] swaglogger opened #146 "Get Users Likes"
**Describe the solution you'd like**
Grab the links of a user's likes. I like posts on my account on my phone but then want to grab the links through the api to download. Users likes can be public/private based on account settings

[2020-02-08 22:54] DrPrykhodko commented on #102
Any progress of that?

[2020-02-14 13:14] ch4kn commented on #58
[https://github.com/ch4kn/tiktok-device-register](url) <= Tiktok Device Register

[2020-02-20 15:29] Kindles7 commented on #102
Hello. If there is a closed group to solve the problem with x-gorgon, I would like to join. Thanks.

[2020-02-21 07:41] emarudee commented on #102
Let me in to the group as well.
Interested to purchase x-gorgon generation code.

[2020-02-21 08:22] ericsia commented on #102
we got the code, but it's better leave it as private. The native was obfuscated so heavily, it's extremely hard to  analyse or should I say crack it. For the sake of longevity it's better to remain private, keep in mind tiktok can change the source code anytime soon once they realised smone compromised their app. This thread should be closed

[2020-02-21 08:41] Kindles7 commented on #102
can I ask a couple of questions in PM? if yes, write to me in the mail, thanks.

[2020-02-21 19:41] fusillijerry89 commented on #102
https://discord.gg/AxXD749

On Fri, Feb 21, 2020, 00:41 Kindles7 <notifications@github.com> wrote:

[2020-02-22 07:53] JoeHO888 opened #147 "Unable to use mitmproxy to intercept traffic to/from Tiktok"
**Describe the bug**
After I connect to Wifi with mitmproxy proxy, I cannot connect to Tiktok App.
![WhatsApp Image 2020-02-22 at 3 51 58 PM](https://user-images.githubusercontent.com/29224653/75088664-6fa32780-558b-11ea-93f7-c43386047f4f.jpeg)

**To Reproduce**
Follow this [article](https://medium.com/@szdc/reverse-engineering-the-musical-ly-api-662331008eb3)

**Expected behavior**
I should be ab

[2020-02-22 08:58] skattex commented on #147
you need to have root permission on your device. And after application, such as mitmproxy, packetcapture and other will work with ssl encryption.

[2020-02-22 09:48] JoeHO888 commented on #147
@skattex Thank you for your reply. I just rooted my device, but I still fail to intercept HTTP traffic with mitmproxy for Tiktok. mitmproxy is able to intercept other traffic when I try to browser other websites.

Able to intercept other traffic
![WhatsApp Image 2020-02-22 at 5 46 19 PM](https://user-images.githubusercontent.com/29224653/75090178-47bbc000-559b-11ea-9486-3557c243d970.jpeg)

Rooted

[2020-02-24 06:36] SumanKhanra commented on #58
Can Anyone Mention The Code Location Just Before The Device Id Being Encrypted ?

[2020-02-25 13:04] ArnoldCell commented on #102
Hey, i want to join to his request,
I'm willing to help if needed or to pay if someone has done it already

[2020-02-25 15:02] ericsia commented on #102
I have the code. And tested working, I'm ok in selling it.  I'm at Discord, my id is @ericsia#9182
or u can reach my wechat id: mrericsia

[2020-02-27 09:43] romeoaaron21 opened #148 "How to answer the verification using captcha? : Verification code error, please re-enter the verification code."
{ data:
   { captcha: 'R0lGODlheQAoAIcAAAAAAAAARAAAiAAAzABEAABERABEiABEzACIAACIRACIiACIzADMAADMRADMiADMzADd3REREQAAVQAAmQAA3QBVAABVVQBMmQBJ3QCZAACZTACZmQCT3QDdAADdSQDdkwDungDu7iIiIgAAZgAAqgAA7gBmAABmZgBVqgBP7gCqAACqVQCqqgCe7gDuAADuTwD/VQD/qgD//zMzMwAAdwAAuwAA/wB3AAB3dwBduwBV/wC7AAC7XQC7uwCq/wD/AEQAREQAiEQAzEREAEREREREiEREzESIAESIRESIiESIzETMAETMRETMiETMzEQAAFUAAFUAVUwAmUkA3VVVAFVVVUxMmUlJ3UyZAEyZT

[2020-02-28 01:25] romeoaaron21 commented on #100
@Pilfer How can I use the captcha solution in logging in again?

[2020-02-28 22:25] scicyb commented on #102
I have working code.
[video](https://youtu.be/8bmrvwNeLbg)

[2020-02-28 23:41] scicyb commented on #102
https://youtu.be/8bmrvwNeLbg

[2020-03-01 12:51] ericsia commented on #102
here is the testing site: http://ericsia.tk/weixinshimrericsia

[2020-03-02 12:36] xxMrPHDxx commented on #139
The request you made sent header `Origin: localhost` to the server which will be block because the server only allows specific origin to access the api. As the ajax/fetch request doesn't allow header `Origin` to be supplied manually, you may want to take a look at using `cors-everywhere.herokuapp.com/{{API_LINK_HERE}}`. Wrap your request using that url and you need to specify either the `Origin` o

[2020-03-04 10:30] lazyjohny500 commented on #120
Didn't work :(

[2020-03-05 07:06] Rh3x4r commented on #147
put cert file on root or use any android version which less than 7.0

[2020-03-05 14:31] CesarIAndrade commented on #148
Could you solve it?

[2020-03-05 15:56] CesarIAndrade commented on #138
**iid** =  The 16-character ID of your installation, I mean the installation id of **Tiktok** in your phone, e.g. 4549764744226841084 (you could obtain it using **Http Canary**, an android app - Note: You need to be **root**)
**openudid** = A 16-character hexadecimal identifier associated with your device, e.g. 4b903fbb9d457937 (you can easily find it using **Device ID**, another android app)
**de

[2020-03-05 17:41] aymehai commented on #45
Do you think you could also help me get the RTMP stream URL and also get the streamid (stream key)?

[2020-03-05 23:19] NailF commented on #102
@ericsia Can you share the code, please? On my email nail94.itis@gmail.com or telegram: hustlettie

[2020-03-06 01:28] szdc commented on #45
@aymehai this issue was closed in 2018 please open a new issue if you have questions

[2020-03-06 12:36] xsuspectx commented on #102
i am renting out the api (both register device encryption and x-gorgon) for a long time already with satisfied customers, so proven to work. see my github repo or reach out at annarendigo888@gmail.com

[2020-03-08 14:03] tiberiu1995 opened #149 "Get all followers"
Hello, I want to get all the followers of an user. I managed to get 5000 followers but, after, the max_time and min_time from the response were -1. From what I understand, tiktok won't let me get more followers, even though they exist.
Does anyone know if there is a way to get all followers of an user?
Thank you!

[2020-03-13 10:25] jatankshirsagar commented on #58
I could identify until this point where the function calling device register is accepting 4 arguments

r3, r9, r2, r0 and out of which r2 - context

[2020-03-14 20:43] aymehai opened #150 "How do I get the rtmp server and streamid?"
Is there a way to just get the rtmp server and streamid?

[2020-03-14 20:44] aymehai commented on #150
I have 11k followers and I wanted to be able to stream from my laptop, but I need the rtmp server and the streamid of my account.

[2020-03-18 05:55] 5wcx opened #151 "how to get video_id"
the api like 'aweme/detail/?aweme_id={$pram}'  how to get this pram

[2020-03-20 17:24] kishan2212 commented on #73
not yet. did you found any solution ? they updated source...

[2020-03-22 19:27] fanatov37 opened #152 "login problem"
![image](https://user-images.githubusercontent.com/18050298/77258519-c2075f00-6c83-11ea-94e4-a874bc281534.png)

So I'm trying login but get  always this error

{data: Object {captcha: "", description: "You are visiting our service too frequently.", error_code: 7},

So interesting if my devide_id username, pass etc will be normal I will get same error.

Maybe someone knows how to resolve this probl

[2020-03-23 21:29] sourface94 commented on #57
any progress on this?

[2020-03-24 16:30] maximilianschmelzer commented on #42
@cook1e-monster https://github.com/LCSP/tiktokapi-security

[2020-03-27 02:21] michaelpayne02 opened #153 "Live chat comments api"
**Is your feature request related to a problem? Please describe.**
I have seen a service called Loola that allows you to read comments sent to your live broadcast from a web interface. I wish this were possible through this api.

**Describe the solution you'd like**
A webhook, ajax url, or function that can be used as a callback for when new comments are put on a live broadcast

[2020-03-29 21:17] NeelDroid opened #154 "Unable to get it working with the proxy params"
I have no idea how to get them. I tried out charles/mitm/fiddler. I am not being able to find the section where I can find these things! Currently using fiddler. If someone know how to get those details, do tell. I just started using Node since I need this API to work. I called without setting those params & got this :
`{"data":{"captcha":"","description":"For the security of the account, please u

[2020-03-30 14:34] #154 closed

[2020-04-03 08:45] andrearama opened #155 "Is this API still working?"
Hi,
since it has been a while since there was an update, I was wondering if this API still works.
In fact, as far as I see there is not a TikTok version online (anymore at least) so I wonder how it is possible to fetch the data.

Thanks a lot

[2020-04-05 08:32] KanaiyaKatarmal commented on #151
You got the solutions ?

[2020-04-05 12:59] intfloatbool commented on #152
+ 1

[2020-04-05 15:36] steffanjensen commented on #120
Can we get a better explanation of this, because this is something there can be done..
What do you for example mean by this "X-SS-STUB header value (Which is the hex value of the md5 of the request body)"

[2020-04-08 22:21] michaelgnz commented on #155
Until recently it did. I was wondering if this API was going to be updated. I noticed over the last week some of the resources (namely, the ForYou feed) have switch over to using protobuf instead of JSON. I assume the rest of the resources will eventually be migrated as well, making this API useless.

[2020-04-10 12:09] lxstify commented on #152
Same problem. Any solutions?

[2020-04-10 12:13] intfloatbool commented on #152
There is no solutions. TikTok changed login logic many times since this api was updated.

[2020-04-10 12:23] lxstify commented on #152
But how to get information about the video?

[2020-04-10 12:54] osov commented on #120
What do you for example mean by this "X-SS-STUB header value (Which is the hex value of the md5 of the request body)"

in fact, it makes no sense to describe how to generate this data. because the most important thing happens in the encryption function to which this data is transmitted and then we get the calculated hash.

[2020-04-10 15:00] fanatov37 commented on #152
Interesting . And now login is not working :(

[2020-04-10 15:00] #152 closed

[2020-04-11 17:35] steffanjensen commented on #120
So do anyone has a solution ?

[2020-04-11 18:40] fusillijerry89 commented on #120
shut up jensen

On Sat, Apr 11, 2020, 10:35 Steffan Jensen <notifications@github.com> wrote:

[2020-04-11 19:29] steffanjensen commented on #120
No just ignore my messages if you don't like them... Looking for a solution for this..

[2020-04-11 23:36] szdc commented on #120
No solution in this repository right now as I haven't had time to update it.

[2020-04-12 07:10] steffanjensen commented on #120
okay great yeah the solution is out there, many has already implemented a solution but they all are "paid solutions"..

[2020-04-13 02:03] matheusfiorin opened #156 "Change username via API"
Is it possible to change the username via API?

[2020-04-13 20:20] tamunoemi commented on #156
Is the api working for you ?

[2020-04-13 20:20] tamunoemi commented on #149
Hello please does this api works ?

[2020-04-14 16:24] lalokupfer commented on #120
hi, where can i buy this paid solution?

[2020-04-14 16:27] lalokupfer commented on #147
I use nox emulator which has older version of Android I think 5.x and I installed there the certificate and the latest TikTok, with fiddler as a proxy I was able to intercept the traffic...

[2020-04-15 21:30] tmswartz12 commented on #148
Would love the answer here!

[2020-04-17 07:37] tonyquang commented on #141
try using selenium to upload video!

[2020-04-17 08:26] AndrewGrinev commented on #141
How do you upload a video?

[2020-04-18 17:35] lalokupfer opened #157 "TikTok Sign Algorithm General Concept Question"
I am trying to run with Frida this example: https://github.com/SebastienWae/tiktok-gorgon-bridge

I managed to do it all and finally run successfully the command:
frida -U com.zhiliaoapp.musically -l C:\Users\WizBoost\Downloads\Tools\compiled.js --runtime=v8
In which I get a good result:
Attaching...
[SM N950N::com.zhiliaoapp.musically]->

But unfortunately I get "unable to connect" when trying to

[2020-04-21 04:34] Zachary24 commented on #154
did you ever figure it out?

[2020-04-21 04:34] Zachary24 commented on #154
did you ever figure it out?

[2020-04-21 23:22] ellali824 opened #158 "Add a feature to get sounds listed under "Favorites""
On the current version of tik tok, each user has a collection of "favorites". In particular, I'm interested in getting a list of all the sounds that a user has favorited. I was wondering how to add this feature?

[2020-04-22 00:14] g3luka commented on #141
How do you post a video?
What method do I use and what is the process?

[2020-04-23 15:03] XHL-Mao commented on #146
Hello, Do you know how to do it？

[2020-04-23 15:17] KanaiyaKatarmal commented on #73
I have got the solutions for downloading video without water mark.

[2020-04-23 15:19] KanaiyaKatarmal commented on #151
I have got the solutions.

[2020-04-23 15:20] KanaiyaKatarmal commented on #116
This api is working in my case.

I have got the solutions.

[2020-04-23 16:11] Mateeen commented on #73
@KanaiyaKatarmal can you please tell how?

[2020-04-24 14:33] KanaiyaKatarmal commented on #73
@Mateeen
Please discuss this topic in private.
katarmal.kanaiya@gmail.com

[2020-04-25 08:26] Mateeen commented on #73
be aware of this guy named @KanaiyaKatarmal  he is not helping the community he will ask you to come in private inbox and will ask you 500$ dollars

[2020-04-26 02:58] JoeHO888 commented on #147
Yep, it has to be older version of Android & TikTok

[2020-04-30 07:01] masonlee277 commented on #158
is this API still working?

[2020-04-30 11:34] joostcore commented on #102
Hey, still on this problem ?

I want to start a group for a open source tiktok-secure-mechanism libary in java.

Anybody interested ?

Best regards

Joost

[2020-05-01 08:13] kienvtqhi commented on #116
Hello Kanaiya, can you share your solutions? I am facing the same issue. Thank you so much!

[2020-05-05 06:04] clicker777 commented on #120
Get into contact with me

[2020-05-11 12:30] shipsource opened #159 "[removed]"
[removed]

[2020-05-11 13:01] shipsource commented on #32
@szdc I think this might be related to the issue I just opened - it's related to a watch_status in response. The value needs to be `1` for a successful follow. Do you know what might be causing the value to be `0`?

[2020-05-12 04:13] swaglogger commented on #146
No this is a request to get it added

[2020-05-12 14:17] sourabhbagrecha commented on #158
@masonlee277 I don't think so, most of the features aren't working for me

[2020-05-12 15:20] sourabhbagrecha commented on #146
@swaglogger is this API still working? Most of my requests (almost all) are getting failed, with data as an empty string in the response ( { data: "" } ).

[2020-05-12 23:59] Fyp89 commented on #102
Can I have your email address please ?

[2020-05-13 18:21] akash09766 commented on #143
how can i use this api as rest api in android/ios

[2020-05-14 17:54] ericsia commented on #102
medlexo@medlexo.ml

[2020-05-15 01:19] breadadams commented on #133
![image](https://user-images.githubusercontent.com/5795227/82001193-e6b3fd80-965a-11ea-8fbf-e97653335044.gif)

[2020-05-18 08:26] KlliksMarketing commented on #158
You can contact me at paypvt@gmail.com if you looking for a service

[2020-05-18 08:27] KlliksMarketing commented on #156
You can contact me at paypvt@gmail.com if you looking for a service

[2020-05-18 08:27] KlliksMarketing commented on #155
You can contact me at paypvt@gmail.com if you looking for a service

[2020-05-18 08:28] KlliksMarketing opened #161 "You can contact me at paypvt@gmail.com if you looking for a service"
You can contact me at paypvt@gmail.com if you looking for a service

[2020-05-18 14:49] kanfyti commented on #148
You can find the same problem and solution here: [https://github.com/szdc/tiktok-api/issues/100](url)

[2020-05-18 16:54] #159 closed

[2020-05-18 22:18] kagar-in commented on #157
skype: live:me_iam_1
paid sollution.

[2020-05-18 22:20] kagar-in commented on #144
skype : live:me_iam_1
paid sollution

[2020-05-19 18:52] PierreAndreis commented on #155
This package was built based on reverse-engineering the android app. You can check [this article ](https://medium.com/@szdc/reverse-engineering-the-musical-ly-api-662331008eb3)that explains how.

Have you tested it? Why do you think it doesn't work? An update shouldn't break dramatically this package

[2020-05-19 18:53] PierreAndreis commented on #143
This package should be used by your backend which then should provide you an API to use it.

[2020-05-22 12:45] szdc commented on #157
Your question should be directed at the owner of the repository you linked to.

[2020-05-22 12:45] #157 closed

[2020-05-22 12:49] szdc commented on #139
This library doesn't make requests to localhost. If you open an issue, please provide a stack trace and/or steps to reproduce or I can't help you.

[2020-05-22 12:49] #139 closed

[2020-05-24 02:19] Mokin711 opened #163 "Implementation to iOS or Android App?"
There are many tikotk tracker app out there, and I want similar features for a personal app I am designing. I don't have a lot of experience in backend and mainly only use firebase function to run some javascript functions and that's how far I go for the backend. Is it possible for this to run as a script on the firebase so I can implement this to the mobile app?

[2020-05-24 02:20] Mokin711 commented on #143
Is it possible to add it on firebase function and then implement this to the ios/android app? I am a front end developer and have no experience in backend so I am curious about the solution to the question as well

[2020-05-26 02:36] frostysword opened #164 "How can I get post information?"
I see you have been able to get posts using this: https://github.com/szdc/tiktok-api#getpostid

I'm trying to decipher how you do this, but I can't seem to figure it out.

I'll paste my code below. I've also tried putting aweme_id directly in the options instead of under params but it didn't work. How are you making this request?

[code]

[2020-05-27 11:01] thecherrie opened #165 "Implement to an Android/Flutter app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Hi I was wondering how I could implement this into an Android or Flutter app where I could e.g. type in a username and get the userdata via this api, things such as amount of followers, following, and the profile picture. Thanks.

**Descri

[2020-05-27 20:04] thecherrie commented on #143
Bro what do you mean?

[2020-05-28 12:44] NeuronButter commented on #58
Ok out of curiosity, I looked at that website, and quite literally I have no idea what it's for. I'm not gullible, it's 100% a scam, but I looked at the requests made by the site, and the site doesn't even get past CAPTCHA. I thought it might like send a username and password to a malicious server, but what's the point of that if it just never gets past CAPTCHA? Like for real, how much time did yo

[2020-05-29 20:49] fex0r commented on #102
Any updates about this?
I'm Interested to help this project or just to purchase x-gorgon/x-khronos generation code..
Is there any group related to solving the problem with x-gorgon/x-khronos ?

[2020-05-29 23:01] joostcore commented on #102
Got a solution for it help me with decice registration and we are fine :)

[2020-05-29 23:01] joostcore commented on #102
=>

[2020-05-30 15:45] fex0r commented on #102
How can I contact you? Do you have telegram, email, discord or any other kind of communication?

[2020-05-31 12:34] just1pilot commented on #102
Hey, can i join you ? I'm working on it now.

[2020-05-31 14:05] soulseekah commented on #102
![image](https://user-images.githubusercontent.com/685880/83354359-de4d0980-a360-11ea-9208-7647df7e7daf.png)

[2020-05-31 21:23] joostcore commented on #102
You can contact me via Discord or Email :

Discord ; JoostCore#9355
E-Mail : joostcore@gmail.com

[2020-05-31 23:19] eduadoospy opened #166 "Tik"

[2020-06-01 00:23] szdc commented on #166
Closing as this issue has no content

[2020-06-01 00:23] #166 closed

[2020-06-01 00:32] fex0r commented on #102
Hey! I'm working on it right now too!
Please, text me using my discord..
Discord: fex0r#7089

[2020-06-01 00:33] fex0r commented on #102
I sent to you a friend request
Discord: fex0r#7089

[2020-06-01 10:17] just1pilot commented on #102
I sent to you a friend request.

[2020-06-05 13:14] fex0r commented on #115
@SebastienWae I'm having issues while using your frida script to generate the gorgon and khronos hashes
Can you help me?

[2020-06-08 09:13] mrklintscher opened #167 "Signing service"
Hi,

is there a solution for an open source or paid sources implementation of the signing service for anti spam?

I will pay.

Telegram: https://t.me/mrklintscher

[2020-06-11 14:37] thecherrie commented on #165
Okay, I'm quite new to this process, could you state some steps as to doing this? Places to research? Tools to use?

[2020-06-11 14:42] davidteather commented on #165
You could either make your own api or use an existing one. I’ve got one you can use as a service  here https://rapidapi.com/rapidapideveloper/api/tiktok2 there’s also quite a few others on the rapidapi platform.

Or you can develop your own restful api. I used flask for python, but you could use something like node.js and express for this library as it’s written in js.

You would host this script

[2020-06-12 16:42] shipsource commented on #102
I have the solution but this is not a good idea to share/sell it - it will just go to hell as it happened with Instagram and we don't want that.
The fewer people have an actual source code, the better.
Don't you think TT staff don't pay attention to these online discussions? Don't be silly guys.

[2020-06-12 16:44] shipsource commented on #102
I have the solution but this is not a good idea to share it - it will just go to hell as it happened with Instagram and we don't want that.
The fewer people have an actual source code, the better.
Don't you think TT staff don't pay attention to these online discussions? Don't be silly guys.

[2020-06-12 16:44] shipsource commented on #102
I have the solution but this is not a good idea to share it - it will just go to hell as it happened with Instagram and we don't want that.
**The fewer people have an actual source code, the better.**
Don't you think TT staff don't pay attention to these online discussions? Don't be silly guys.

[2020-06-13 13:47] DanielAscher commented on #102
@shipsource I am trying to learn Reverse engineering. Can you maybe share some of the code with me? I'm completely stuck

[2020-06-14 13:11] richardARPANET opened #168 "How to sign in with phone number and password?"
I see the client has methods:

[code]

However, the tiktok app doesn't allow sign up with username OR email. Only phone number or social login.

Given I have a phone number and password for login, how do I login with this using this client?

Thanks!

edit: Alternatively, do you know of a way of signup up via username or email at this time?

[2020-06-17 21:05] 350d commented on #138
Is that possible to fake all of these params? Like random iid, device_id etc?

[2020-06-18 16:55] llacb47 commented on #115
Login/registration attempts with email don't work, need to use phone number.

[2020-06-18 17:52] mrklintscher commented on #115
I tried it but error is still the same.

[2020-06-21 12:30] TheDoka commented on #102
I found a way to generate X-Gorgon and X-Khronos.
In com.zhiliaoapp.musically (15-4-3) you have com.bytedance.frameworks.baselib.network.http.e and the function public static Map a(String paramString, Map<String, List<String>> paramMap).

Wich return Xorgon & Khronos with url, and cookies.
Java.use("com.bytedance.frameworks.baselib.network.http.e")["a"](url, headersMap)

Good Luck!

[2020-06-21 23:55] baughmann commented on #165
@davidteather @thecherrie Wouldn't proxying requests to TikTok through your own server result in rate limiting/blacklisting by TikTok, depending on how many users your service has?

[2020-06-22 11:05] PeterGardas opened #169 "Is this API still usable in 2020?"
The title says it all. I am just curious. Also is it only able to run on a mobile phone or can i run it on PC?

[2020-06-22 11:07] shipsource commented on #167
Whoever reads it: don't be silly and provide source code unless you want TikTok to add more security measures and fuck up your sleep for the next few weeks/months.
This code shouldn't be shared or it will end up just like IG did.

[2020-06-22 11:09] PeterGardas commented on #169
Just saw that this question was already answered. Sorry for opening another one.

[2020-06-22 11:09] #169 closed

[2020-06-22 21:34] davidteather commented on #165
It would limit it, but there's options to pass in other proxies when you call methods.

[2020-06-22 21:39] eduadoospy commented on #165
i dont recieve nothing one of accounts i wait the time in description but
dont match the other one too so

Em seg., 22 de jun. de 2020 às 18:35, David Teather <
notifications@github.com> escreveu:

[2020-06-22 21:47] eduadoospy commented on #167
srry bro i cant open it

Em seg., 22 de jun. de 2020 às 08:07, justshipit <notifications@github.com>
escreveu:

[2020-06-22 21:52] eduadoospy commented on #165
the accs dont match and i dont try a lot
to log in

Em seg., 22 de jun. de 2020 às 18:41, EDUARDO VIEIRA <eduardoospy@gmail.com>
escreveu:

[2020-06-22 21:59] baughmann commented on #165
@davidteather That's a good point idk why I didn't think of that.

@eduadoospy To be honest I'm having the same issue as you are. I would assume that it's the default error message from TikTok whenever some of the anti-spam parameters aren't created properly.

This library looks fantastic, but I just cannot seem to implement the required parameters correctly. I've tried a mix of methods found in d

[2020-06-22 22:11] eduadoospy commented on #165
Talking in telegram call me there? Eduardoospy

Em seg, 22 de jun de 2020 18:59, Nick B <notifications@github.com> escreveu:

[2020-06-22 22:16] baughmann commented on #165
@eduadoospy If you're talking to me, I'm not a huge Telegram guy. However, if you send me an email I can invite you to a Slack channel.

[2020-06-22 22:23] eduadoospy commented on #165
eduardoospy@gmail.com this email

Em seg, 22 de jun de 2020 19:16, Nick B <notifications@github.com> escreveu:

[2020-06-22 23:00] baughmann commented on #167
@shipsource Could we talk offline about this? I don't necessarily want an outright answer, but I would very much like to learn more about what exactly the anti-spam parameters are and what purpose they serve.

[2020-06-22 23:20] eduadoospy commented on #165
Só im in old mobile and now

Em seg, 22 de jun de 2020 19:23, EDUARDO VIEIRA <eduardoospy@gmail.com>
escreveu:

[2020-06-22 23:33] eduadoospy commented on #169
Bro it dont works

Em seg, 22 de jun de 2020 08:09, Peter Gardas <notifications@github.com>
escreveu:

[2020-06-23 05:45] shipsource commented on #167
You need to click "Unsubscribe" link and that should be it.

I think the purpose is obvious: to prevent people from tampering with it. TikTok engineers ain't stupid.

[2020-06-23 14:45] baughmann commented on #167
@shipsource Golly, thanks, mister.

[2020-06-23 14:53] baughmann commented on #167
Well for anyone who wants some *useful* information to point you in the right direction, the answer probably lies in REing TikTik's web app. It's much harder to bury secrets in a compiled C library on the client side of a JS app.

TikTok puts 250kb of data in browser storage before even signing in, including interesting looking stuff like:
[code]

[2020-06-23 19:57] shipsource commented on #102
@TheDoka very bad idea. The moment you start hitting it, TikTok will figure out and shut this down. I would suggest you to remove this comment so other people don't exploit it.

[2020-07-03 11:48] spryka commented on #141
Does anyone have succed with uploading video?

[2020-07-04 01:41] colymore commented on #148
Just convert base64 to image (https://codebeautify.org/base64-to-image-converter) solve by yourself and add to the login call

const login = () => api.login({
  username: 'aa',
  email: 'ee',
  password: 'ii',
  captcha: 'ANY_CAPTCHA'
})

[2020-07-06 09:40] Mindinfoservices commented on #26
Could i get RMTP url from api tiktok . Please reply

[2020-07-08 23:06] react-rxjs commented on #167
If you pay, I'll give you some very useful help
https://github.com/react-rxjs/tiktok-xlog-service

[2020-07-08 23:10] baughmann commented on #167
@react-rxjs Why do you have that username when you have nothing to do with RxJS

[2020-07-08 23:13] llacb47 commented on #167
@baughmann what exactly are you looking for?

[2020-07-09 00:12] baughmann commented on #167
@llacb47 Just a generic explanation of what the specific values are and what they're used for (i.e. "X is calculated based on datetime and user agent and is combined with Y to compute Z"), or really anything that can help me in figuring it out.

[2020-07-10 15:38] kmsauter opened #170 "Ability to like comments"
Would it be possible to implement the ability to like comments on a post/has anyone figured out a way to do this?

[2020-07-15 12:00] Mindinfoservices opened #171 "Live streaming"
Hello guys

I need help with livestream on tiktok .. this would be paid job ..

Please help

[2020-07-15 12:26] szdc commented on #171
You haven't described a problem

[2020-07-15 12:26] #171 closed

[2020-07-16 07:29] Mindinfoservices opened #173 "Livestream"
I am trying to implement tiktok using your library but i am getting captcha error, #- - response are below.
My next step is: Convert base64 to image using this url https://codebeautify.org/base64-to-image-converter and again pass captcha parameter into login but problem is still same.

https://github.com/szdc/tiktok-api/issues/148

Response :
	{ data:
	{ captcha: 'R0lGODlheQAoAIcAAAAAAAAARAAAiAAAz

[2020-07-20 14:26] kagar-in commented on #144
Yes just add me on skype.

Sen, 20 Jul 2020 pukul 21.22 Muhammad Abdullah <notifications@github.com>
menulis:

[2020-07-23 18:45] warmSnowyMorning opened #174 "please explain 'signURL' function"
what does it mean to sign the url with anti spam parameters? can someone give an example?

any help appreciated, thanks in advance

[2020-07-24 15:08] abdullah249 commented on #120
availlable right now for the paid solution

[2020-07-24 18:52] So1omon36 commented on #120
pls write to my telegram . I want to buy your solution @leshasotnya

[2020-07-24 21:06] abdullah249 commented on #120
I have contacted you on telegram

On Fri, Jul 24, 2020, 11:52 PM So1omon <notifications@github.com> wrote:

[2020-07-24 21:15] So1omon36 commented on #120
Where? I don't see you in the telegram

[2020-07-25 09:02] abdullah249 commented on #120
I think this your telegram?

On Sat, Jul 25, 2020, 2:15 AM So1omon <notifications@github.com> wrote:

[2020-07-25 11:51] abdullah249 commented on #120
Can we do it on Skype?
live:ranaabdullah249_1

On Sat, Jul 25, 2020, 2:02 PM Muhammad Abdullah <ranaabdullah249@gmail.com>
wrote:

[2020-07-25 12:44] abdullah249 commented on #144
Hi,
I leave you messages at Skype for the paid solution. Please check it

On Mon, Jul 20, 2020, 7:26 PM kagar-in <notifications@github.com> wrote:

[2020-07-25 12:46] kagar-in commented on #144
Already replied.

Sab, 25 Jul 2020 pukul 19.45 Muhammad Abdullah <notifications@github.com>
menulis:

[2020-07-27 16:04] rst630 commented on #120
he is scammer bullshit

[2020-07-27 16:17] bllhlskr commented on #102
hi iam new at this stuff can anyone explain to me what is x gorgon and x khronos why tiktok use this

[2020-07-29 19:31] SSRTC opened #175 "Ads"
Is it possible to view ads using your framework, as it is done in the Tiktok mobile app

[2020-07-31 18:32] mrklintscher commented on #174
Yes you can contact me: me@mrklintscher.de

[2020-07-31 18:33] mrklintscher commented on #167
Self done here https://github.com/mrklintscher/TikTokPrivateAPI

[2020-07-31 18:33] #167 closed

[2020-07-31 18:33] mrklintscher commented on #168
@richardARPANET look here https://github.com/mrklintscher/TikTokPrivateAPI

[2020-07-31 18:36] mrklintscher commented on #148
You have to use opencv and solve it. Send the data back to tiktok.

[2020-07-31 18:48] mrklintscher commented on #144
I can register a device. Send me a request at telegram t.me/mrklintscher

[2020-07-31 19:45] mrklintscher commented on #170
Yes its possible. Take a look here https://github.com/mrklintscher/TikTokPrivateAPI

[2020-07-31 19:46] mrklintscher commented on #155
Yes it still works :-)

[2020-07-31 19:47] mrklintscher commented on #138
@350d no it isnt. It must be a valid registered device.

[2020-07-31 19:48] mrklintscher commented on #136
Yes contact me at Skype: mrklintscher

[2020-07-31 19:51] mrklintscher commented on #115
@llacb47 i reversed it.

[2020-07-31 19:52] mrklintscher commented on #81
@asosyetikbiri you dont need it. Use coockie instead.

[2020-08-02 02:41] areltiyan commented on #148
this library still working?

[2020-08-02 02:44] areltiyan commented on #151
how

[2020-08-02 05:36] mrklintscher commented on #148
No there need to make some fixes.

[2020-08-03 10:46] xsuspectx commented on #102
I have api for newest x-gorgon for rent. Email me at annarendigo888@gmail.com

[2020-08-03 19:34] mrklintscher commented on #173
Write me on telegram. I can help you. https://t.me/mrklintscher

[2020-08-05 11:06] scicyb commented on #102
@TheDoka Ive been generating this way over a year now.
here`s the code
[code]

[2020-08-06 00:08] keldermen commented on #138
@CesarIAndrade Thanks for the information I have been able to get the iid, openudid and device_id with http canary. But I have no how to get the fingerprint. Can you help me with that?

[2020-08-08 13:23] clicker777 commented on #120
**I have an algorithm**
Telegram @enoughowl10
Skype - live:.cid.b7d7ced6e23d0c41

[2020-08-08 13:36] rst630 commented on #120
This idiot have nothing. He is stupid scammer

[2020-08-08 13:38] clicker777 commented on #120
A deceiver who understands nothing

[2020-08-08 13:44] rst630 commented on #120
ahaha, im not selling anything, how I can cheat you bastard? :D

[2020-08-09 03:13] schissmantics opened #177 "How to check available ids?"
As I'm working on something which requires me to know beforehand, is there a way I can request all ids available through the api.

[2020-08-11 20:24] mrklintscher commented on #141
Yes i can do.

Write me here me@mrklintscher.de

[2020-08-11 20:26] mrklintscher commented on #120
Paid solution here me@mrklintscher.de

[2020-08-15 10:39] kshport commented on #174
You must implement the generation of these parameters yourself. To do this, you need to reverse the TikTok application.

Moreover, the old version, the newer uses other parameters for signing requests - X-Gorgon and X-Khronos.

In order to look at these parameters, start by intercepting application traffic using Wirelesshack, Charless Proxy or any other traffic analysis program.

[2020-08-15 10:47] kshport commented on #168
Registration via mail now works in the tiktok application, I'm talking about version 17

If you have a password for your account, just enter your username in tiktok and your password when logging in.

[2020-08-15 10:49] kshport commented on #149
There is no way to get more than 5000 subscribers, this is the tiktok limit

[2020-08-15 10:54] kshport commented on #136
X-Tt-Token is not needed for login. Opposite the header of a successful login contains this token

[2020-08-15 10:57] kshport commented on #81
You can use /aweme/v1/im/cloud/token/ endpoint for this

[2020-08-18 14:58] xgorgon commented on #102
i have x-gorgon generation script in python. generates x-gorgon starting with 030xxxxxx

price $500
contact: xgorgon@protonmail.com

[2020-08-18 15:37] bllhlskr commented on #102
i need proof

On Tue, Aug 18, 2020 at 5:58 PM xgorgon <notifications@github.com> wrote:

[2020-08-18 16:10] xgorgon commented on #102
sure, contact me on my email

[2020-08-19 12:47] xgorgon commented on #174
i have x-gorgon generation script in python. generates x-gorgon starting with 030xxxxxx

contact: xgorgon@protonmail.com

[2020-08-19 12:47] xgorgon commented on #170
you need valid xgorgon for this

i have x-gorgon generation script in python. generates x-gorgon starting with 030xxxxxx

contact: xgorgon@protonmail.com

[2020-08-19 12:50] xgorgon commented on #120
i have x-gorgon generation script in python. generates x-gorgon starting with 030xxxxxx

contact: xgorgon@protonmail.com

[2020-08-19 12:50] xgorgon commented on #114
need anti spam params?

i have x-gorgon generation script in python. generates x-gorgon starting with 030xxxxxx

contact: xgorgon@protonmail.com

[2020-08-19 17:54] Mukelinqieer commented on #174
I will help to fix! Write me 👍

https://github.com/Mukelinqieer/TikTok

[2020-08-26 15:35] CarsterMC commented on #114
Hello Steffan, I've seen your Tik Tok acc before and I would just ask why tf you are being such a jerk. You should get the ban hammer!

[2020-08-26 16:46] steffanjensen commented on #114
maybe welcome to a world with free speech, don't like what you see.. dont
watch.. snowflake

On Wed, Aug 26, 2020 at 5:35 PM Carster <notifications@github.com> wrote:

--
Best regards,

*Steffan Max*
http://www.6hourapp.com

[2020-08-26 16:52] steffanjensen commented on #114
They are not going to ban a person who has reverse engineered the entire app.. Most likely I will be verified because I know too much..

and no i don't use this knowledge for any personale programs, excerpt for the knowledge.

You don't like watching me, watch something else.  You are an adult, you can't except someone to be banned just because you don't like what they make of content.. But let me

[2020-08-26 16:53] steffanjensen commented on #114
They are not going to ban a person who has reverse engineered the entire app.. Most likely I will be verified because I know too much..

and no i don't use this knowledge for any personale programs, excerpt for the knowledge.

You don't like watching me, watch something else. You are an adult, you can't except someone to be banned just because you don't like what they make of content.. But let me

[2020-08-28 12:20] volandmordd opened #178 "x-gorgon signature"
please read here https://github.com/volandmordd/x-gorgon-x-chronos-tiktok/blob/master/README.md

[2020-08-30 11:11] mgp26 opened #179 "x-gorgon x-khronos signer"
Please read here https://github.com/mgp26/TikTok

[2020-08-30 19:00] gamersi opened #180 "Login with google"
what if i have an account made by log in with google?

[2020-08-31 14:06] mgp26 commented on #174
https://www.mrklintscher.de/tiktok.html here i descripe the gorgon signer without shadowing

[2020-09-01 00:22] nicholascioli commented on #165
I've implemented some of the features [here](https://github.com/nicholascioli/clack/) in flutter. Open to pull requests.

[2020-09-03 09:32] yswtrue opened #181 "Hope add search by keywords"
**Is your feature request related to a problem? Please describe.**
Hope to add  support for search users, videos, sounds by keywords

**Describe the solution you'd like**
Add a API to search by keyword and return total count and support custom page size.

**Additional context**

[2020-09-03 12:28] #181 closed

[2020-09-07 19:47] kgaspard opened #182 "axios_cookiejar_support_1.default should be axios_cookiejar_support_1"
Thanks for the package, excited to start using it!
Unfortunately `axios_cookiejar_support_1.default(this.request)` doesn't seem to be working. I was able to get it to work by replacing by `axios_cookiejar_support_1(this.request)`

I'm not an axios expert, but would fixing this in the source still keep things working?

[2020-09-07 20:12] kgaspard commented on #182
For context: it seems to be working server side (although with a "'You are visiting our service too frequently.'" error) but I'm encountering this error when importing the package client side with webpack

[2020-09-07 21:24] balahmadi-Ox opened #183 "Delete a comment, filter comment by keywords"
**Is your feature request related to a problem? Please describe.**
Through a script or another mobile app, I would like to be able to interact automatically with my TikTok account to analyse comments and delete abusive comments.

**Describe the solution you'd like**
Extend the API to be able to interact with a users account to delete a comment by id, or update the keywords in the "filter comments"

[2020-09-08 16:24] mgp26 commented on #174
Here you find an app who can do it for you https://github.com/t1-x/TiToDoHelper

[2020-09-09 15:11] Sattishh opened #184 "FYP (For You Page) Question"
I saw the instance method of ``.listForYouFeed``
I was curious, how many posts does it send from the For You Page.

Thanks.

[2020-09-15 17:01] alexferra opened #186 "Willing to pay someone to help me set this up - discord: aleferra#5464"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context here.

[2020-09-18 01:31] TylerIlunga commented on #155
@mrklintscher can I get into contact with you? I tried to use this API multiple times and had no luck...at this point the I'm concluding this is a deprecated project...

[2020-09-18 04:34] mrklintscher commented on #155
Yes sure write me.
me@mrklintscher.de 
-------- Ursprüngliche Nachricht --------Von: Tyler Ilunga <notifications@github.com> Datum: 18.09.20  03:32  (GMT+01:00) An: szdc/tiktok-api <tiktok-api@noreply.github.com> Cc: Torsten Klinger <torsten.klinger@googlemail.com>, Mention <mention@noreply.github.com> Betreff: Re: [szdc/tiktok-api] Is this API still working? (#155)
@mrklintscher can I get into co

[2020-09-21 08:56] elv1337 commented on #81
how can you do that, im kind of new to this and i dont know how to use it

[2020-09-22 08:15] hkleow commented on #186
me too email me admin@digitalphase.io

[2020-09-29 18:09] DaAwesomeRazor commented on #58
I tried it out, and you just gotta disable your adblocker

[2020-10-03 09:02] truePhilipp commented on #156
@matheusfiorin Did you find a solution for this?

[2020-10-08 10:01] B4RD4k opened #188 "x-tt-trace-id"
Does anyone know how the x-tt-trace-id is calculated?

10x

[2020-10-10 10:54] So1omon36 commented on #188
I will sell a full working solution of the tiktok API. To write in telegram @leshasotnya

[2020-10-10 10:55] So1omon36 commented on #179
I will sell a full working solution of the tiktok API. To write in telegram @leshasotnya

[2020-10-12 21:31] benthemarauder opened #189 "."
how do i download
@szdc

[2020-10-13 03:24] hugit6 commented on #180
does your code works for normal email login?

[2020-10-13 03:25] hugit6 commented on #175
I am also interesting in this. Would you like to chat with me for this?

[2020-10-13 03:27] hugit6 commented on #168
just wondering if this project works today? (2020.10)

[2020-10-13 04:16] PotaninMarat commented on #175
Hi

[2020-10-13 04:20] PotaninMarat commented on #175
What do you mean?

[2020-10-13 04:24] hugit6 commented on #175
i am working on view ads in tiktok too

On 10/13/2020 12:20, Marat wrote:

What do you mean?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-13 04:58] PotaninMarat commented on #175
I am a .net (C #) developer and I am thinking of porting your solution to C # .net standard. What do you think about this?

[2020-10-13 05:15] mrklintscher commented on #168
This dosent Work anymore.

hugit6 <notifications@github.com> schrieb am Di., 13. Okt. 2020, 05:27:

[2020-10-13 05:24] hugit6 commented on #168
so there is no working prject use code api to behavior tiktok?
I see some project use chrome for web tiktok, that not what i want.

On 10/13/2020 13:15, Torsten Klinger wrote:

This dosent Work anymore.

hugit6 <notifications@github.com> schrieb am Di., 13. Okt. 2020, 05:27:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-13 07:09] hugit6 commented on #175
Why you need AD infor?

[2020-10-13 07:14] PotaninMarat commented on #175
"i am working on view ads in tiktok too"
at what stage of development?

[2020-10-13 07:40] hugit6 commented on #175
just start stage

[2020-10-16 15:34] #168 closed

[2020-10-20 12:40] dyanakiev commented on #57
Anyone?

[2020-10-20 12:49] dyanakiev commented on #141
Has anyone managed to upload a video?

[2020-10-26 00:21] Arsi44 opened #190 "all parameters needed to start"
Hi guys,

Can you tell me all parameters what i need to generate by myself to start working with this api,
and where can i get it, please?

[2020-10-30 10:26] cnscorpions commented on #141
I am also interested in uploading videos, and guess that automation tools like puppeteer or playwright need to be used. 😁

[2020-11-01 03:57] shyraqshy commented on #155
How can I contact with you?

[2020-11-01 09:18] mrklintscher commented on #155
Skype: mrklintscher

shyraqshy <notifications@github.com> schrieb am So., 1. Nov. 2020, 04:57:

[2020-11-03 12:02] jackien1 opened #191 "Looking to buy from anyone with a working solution."
Hey guys,
I want to be able to have a TikTok API that can grab the exact follower count from my account every 1 second. Am willing to pay $200. Thanks!

Telegram: @jackien1

[2020-11-03 12:26] #191 closed

[2020-11-09 10:24] ar-naseef commented on #190
Did you figure out this?

[2020-11-11 19:33] deynstrausser commented on #102
If you are looking for the full TikTok API for the newest app version,  with all the security features (x-gorgon, x-ss-stud, x-khronos, applog, xlog, device register, account register), contact me deynstrausser@protonmail.com.

[2020-11-11 20:40] deynstrausser commented on #190
If you need information about the security params, contact me. deynstrausser@protonmail.com

[2020-11-11 22:33] szdc commented on #102
Please don't advertise your closed source offerings for sale in an open source project.

[2020-11-11 22:33] #102 closed

[2020-11-11 22:35] szdc commented on #189
Instructions are in the README

[2020-11-11 22:35] #189 closed

[2020-11-11 22:36] #186 closed

[2020-11-11 22:38] szdc commented on #184
Probably about 10

[2020-11-11 22:38] szdc commented on #180
Not supported at this time.

[2020-11-11 22:38] #180 closed

[2020-11-12 18:50] MiloAkerman commented on #190
I'm also interested. I don't understand what to set for the start-up parameters, and a comment explaining them (or giving an example) would be much appreciated.

[2020-11-15 17:42] ziadab commented on #190
I'm also interested

[2020-11-18 19:44] vkudymov opened #192 "Uncaught TypeError: axios_cookiejar_support_1.default is not a function at new TikTokAPI"
At startup
const signURL = async (url, ts, deviceId) => {
       const as = 'anti-spam parameter 1';
       const cp = 'anti-spam parameter 2'
       const mas = 'anti-spam parameter 3';
       return `$ {url} & as = $ {as} & cp = $ {cp} & mas = $ {mas}`;
     }
     const params = getRequestParams ({
       device_id: '<device_id>',
       fp: '<device_fingerprint>',
       iid: '<install_id>',

[2020-11-19 13:35] Chinyeins opened #193 "Device Parameters"
**Is your feature request related to a problem? Please describe.**
Can not start using API BC Device Paramters were needed

**Describe the solution you'd like**
An easy way of getting those params with a tool

**Additional context**
I would like to be able to retrieve the Server URL and Stream Key of my Tiktok account. So I can use it to stream via OBS. Currently There is only one Service called L

[2020-11-25 23:48] dexy-hot opened #194 "A working API"
Hi,
I've been trying to work around this api but it seems its missing a lot of security stuff and cant get it to work properly.
TikTok really trying too hard to prevent reverse engineering.
Anyone knows any other unofficial APIs? All i was able to find was https://tikapi.io/ but it doesnt seem to have any free plans and its not open source.

Let's hear some more opinions on this,
Thanks

[2020-11-27 11:23] deynstrausser commented on #148
Telegram @deynstrausser

[2020-11-27 13:06] demon071 commented on #194
Currently tiktok has blocked access to api user info but the other api still works normally, can get video_id

[2020-11-27 13:08] demon071 commented on #151
https://api.wppress.net/tiktok/nwm/6897527987093163265

[2020-11-28 17:11] #184 closed

[2021-01-06 13:13] Venack commented on #194
If you are looking for a mobile version of the API, more stable and reliable check out this [repository](https://github.com/Venack/tiktokapi) (unfortunately this is not a free version)

[2021-01-08 17:15] liemvt2008 opened #198 "api.listPosts result return None"
Hello,

I'm newbie in tiktok.
I tried to use function api.listPosts but the result res return None.
Could you please teach me what I am missing?
Thank you

[2021-01-15 08:06] yogesh01bohra commented on #198
hey can u contact me on skype hemant.bohra1987 (not selling anything just to get idea about this api)

[2021-01-15 08:06] yogesh01bohra commented on #193
hey can u contact me on skype hemant.bohra1987 (not selling anything just to get idea about this api)

[2021-01-16 17:11] doganoruc commented on #190
Hi, is there anyone who finds a solution for these params?

[2021-01-16 17:14] doganoruc commented on #155
Hello, is there anyone who uses this API and wants to help? I couldn't figure out how to use it.

[2021-01-16 17:15] doganoruc commented on #155
May I contact with you? @libfintx

[2021-01-19 13:52] joostcore commented on #147
Any ideas how to fix this for future versions ?

[2021-01-23 12:00] reverser007 opened #200 "TikTok X-Gorgon, X-Khronos, X-SS-STUB, Device Register, Captcha Solver"
https://github.com/reverser007/tiktok read for more info.

[2021-01-23 12:00] reverser007 opened #201 "TikTok X-Gorgon, X-Khronos, X-SS-STUB, Device Register, Captcha Solver"
https://github.com/reverser007/tiktok read for more info.

[2021-01-23 12:01] #201 closed

[2021-01-29 12:56] mike-ousen opened #202 "I need a way to work with the tik-tok API"
Hello
I need a way to work with the tik-tok API and I want to buy a ready-made solution that works with this.
Are there people who solved the problem and are ready to sell the solution, or those who know how to solve the problem and make a work login session?

Thanks.

[2021-01-29 13:38] higordiasz opened #203 "Inplement for C#"
Is possible to implement this API for C# ?

[2021-02-06 14:09] TomAvecLeVdsl opened #204 "Getting Devices parameters"
Hi guys, apparently in a new tiktok update they blocked api access whenever a proxy is detected probably to prevent the use of tool like this one

but anyway have anyone beein able to bypass that ?
Thanks for the help

[2021-02-06 14:10] TomAvecLeVdsl commented on #204
Link to #147 As it's the exact same problem

[2021-02-08 06:28] redeveloping commented on #200
$2k? I have it for only a few hundreds.

[2021-02-24 11:42] #144 closed

[2021-02-24 11:43] DeBerk commented on #144
Closed

[2021-02-24 11:45] #136 closed

[2021-03-10 04:13] higordiasz opened #205 "Help for ant-spam parameter"
Now to i get the parameter ? ... parameter of device i get with HTTP Toolkit .. how to i get the parameter ? .. anyone help-me ?

My discord: Dias#1869

[2021-03-24 14:20] marcelogrsp commented on #205
I am also trying to find out it, awful documentation on readme.md

[2021-03-24 14:22] marcelogrsp commented on #200
$2000 lol

[2021-03-28 14:48] dvird commented on #205
https://github.com/iio97/i-frida-server/blob/6e65bcc3bbceeb0bdee96580a250fb1b6b0ccb29/tiktok/rpc.js

[2021-03-30 20:16] higordiasz commented on #205
@dvird Thanks bro .. but i was unable to implement .. is possible you help me ? .. if yes .. call me on Telegram @higordiasz or Discord Dias#1869

[2021-04-01 10:41] ogohogo opened #207 "X-TT-Token"
Recently TikTok started requiring X-TT-Token header to make successful calls to their API. Any idea how I can obtain this header?

[2021-04-12 09:08] canozturk88 opened #208 "how Creating an instance ? I don understand"
how Creating an instance ? I don understand

when I call. https://api2.musical.ly/aweme/v1/commit/item/digg/?aweme_id=xxxxxxx

response. 403

[2021-04-21 18:55] liamthedux124 commented on #200
for anyone still searching for free xgorgon hmu https://telegram.me/AlexWardner

[2021-04-21 18:56] liamthedux124 commented on #202
hmu https://telegram.me/AlexWardner

[2021-04-22 13:12] Nesslax opened #209 "Impossible to initiate the project"
**Describe the bug**
i tried ti initiate a class with this livrary but no way to do it

**To Reproduce**

the library is called via :
`const tiktok = require('tiktok-api');`

Here is the constructor
[code]

**Expected behavior**
[code]

**Additional context**
Add any other context about the problem here.

[2021-04-28 07:52] tiktokmate commented on #179
Please check this working solution of the tiktok x-gorgon x-khronos algorithm

[https://github.com/tiktokmate/X-Gorgon-X-Khronos-Tik-Tok](https://github.com/tiktokmate/X-Gorgon-X-Khronos-Tik-Tok)

[2021-05-03 15:04] aimadnet commented on #209
TikTok updated their API, the anti spam parameters as, cp and mas aren't working anymore.

[2021-05-03 15:05] aimadnet commented on #208
You need to send valid headers, including x-gorgon token and x-khronos.

[2021-05-03 15:06] aimadnet commented on #207
you can get it when you login to your account, btw it's not required, I don't use it at all.

[2021-05-04 15:40] uimygod opened #210 "xgorgon and x-khronos integration"
text me for the cheap api https://telegram.me/AlexWardner

[2021-05-04 22:36] Nesslax commented on #209
Can you give me an exemple how to setup the projet so i can work on it please ?

[2021-05-05 11:21] ogohogo commented on #207
that's right, it's not required. not sure why I assumed it's needed.

closing

[2021-05-05 11:21] #207 closed

[2021-05-05 14:48] aimadnet commented on #209
This repo isn't working anymore, it's outdated.

Message me on telegram: aimadnet

[2021-05-05 14:51] aimadnet commented on #205
Frida won't work for you, TikTok can detect it.

[2021-05-07 05:24] h4ck1th4rd opened #211 "Comment endpoint?"
hi devs,

I need somebody who already reversed engineering the tiktok api and knows how the "Comment" endpoint works. (headers, params, tokens, etc).

just need to be able to comment successfully using their mobile api.

TG: https://t.me/JosecLee

Thx

[2021-05-17 10:43] DerTechs opened #216 "Xgorgon + XKhronos full source code"
full source code to generate xgorgon and xkhronos headers! very cheap for the first 3 buyers! email me at xgorgon@protonmail.com

[2021-06-02 11:04] ingsuniki opened #217 "@How to use"
hi everyone, can anyone provide me an example simple program in using this library ? i am very confuse with this please help me thx u

[2021-06-03 17:19] aimadnet commented on #217
You need a script to generate tiktok security tokens and make some updates to the api to make it work.

[2021-06-08 14:54] doganoruc commented on #217
Hello, updates like what?

[2021-06-09 02:27] ztever opened #218 "follow api return watch_satus:0"
follow api always return watch_status:0,expected watch_status:1,what`s the watch_status meaning,and why tiktok follow user api retrun watch_status:0?

[2021-06-18 08:19] kicks66 opened #219 "Get videos by Topic"
TikTok recently updated with a new section of their app called "Topics":

![IMG_8083](https://user-images.githubusercontent.com/4125092/122530400-5642ac00-d016-11eb-9d2c-fefc924ff79f.PNG)

Clicking on a Topic opens up a new infinite-scrolling stream of videos within that particular Topic. These videos do not have hashtags or particular descriptors that define them as being part of a Topic.

I'd li

[2021-06-18 18:24] Hoodgail opened #220 "Device parameters."
**Describe the bug**
Unable to get the required device parameters

**To Reproduce**
[code]

**Additional context**
How can i get the device id's for usage

[2021-06-23 10:40] duylinhdang1998 commented on #138
How I can get this and use api ? I dont understand

[2021-06-23 18:42] aimadnet commented on #220
You need frida to bypass ssl and mitmproxy

[2021-06-26 21:54] jakecrowley commented on #220
Can you share a method to bypass SSL using frida? I have both rooted android and jailbroken ios and have been trying to use objection's sslpinning bypass with no luck after installing my own root CA's.

[2021-06-26 21:55] aimadnet commented on #220
drop me a message on telegram: aimadnet

[2021-07-12 11:35] Lg0gs commented on #141
@libfintx
Can you help me there?

[2021-07-15 23:02] h4ck1th4rd opened #221 "device registerion"
hi,

looking for device-registration endpoints in order to register/signup more accounts.

please telegram me at: https://t.me/JosecLee

thank you,
regards.

[2021-07-19 10:48] tiktokalgoritms opened #222 "Full source code X-Gorgon (8402, 8404, 0404, 0408), device register (encrypt/decrypt), xLog (encrypt/decrypt)"
Android and ios available
Contact https://t.me/yunpengv

[2021-07-19 10:54] tiktokalgoritms commented on #221
Can help, contact me https://t.me/yunpengv

[2021-07-20 16:46] Tom13666 opened #223 "Tiktok Go Live Button Hidden"
**Describe the bug**
Tiktok Go Live Button Hidden.

**To Reproduce**
I don't what the code is.

**Expected behavior**
On the TikTok website, I don't have the "Go Live" button.
And on the TikTok app, after clicking "Live", I don't have the "Cast on PC/Mac" button.

**Additional context**
I met all the requirements of the live broadcast, and I can broadcast live on my mobile phone, but the go live b

[2021-07-23 10:55] lingdusi commented on #193
Great God, is there a solution

[2021-07-23 10:58] lingdusi commented on #223
Great God, is there a solution

[2021-07-23 18:09] pamanbobb commented on #138
where i can found.

const as = 'anti-spam parameter 1';
const cp = 'anti-spam parameter 2'
const mas = 'anti-spam parameter 3';

as , cp and mas. please help

[2021-08-16 00:47] huuhuybn commented on #147
hello, have you fix problem yet ?

[2021-08-22 06:44] CristianHG2 commented on #153
Currently developing a project that urgently needs this. I've been trying to look for ways of implementing this and these are some of my small findings:

- The most efficient way of retrieving the chat feed will most likely be via TikTok's live web interface, where it's easiest to debug and profile requests and function calls.

- The feed itself works through a very basic fetch loop powered by a `

[2021-08-31 14:14] xgorgon commented on #218
You need xgorgon for your requests. I am selling. Mail me at xgorgon@protonmail.com

[2021-08-31 14:20] szdc commented on #203
Not as part of this project.

[2021-08-31 14:20] #203 closed

[2021-08-31 14:21] xgorgon commented on #205
Can sell you. Mail. Me at xgorgon@protonmail.com

[2021-08-31 14:22] xgorgon opened #225 "Need xgorgon anti spam parameters?"
I am selling. Email me at xgorgon@protonmail.com

[2021-09-01 05:07] tiktokxgorgon commented on #221
you can telegram me at: https://t.me/adotdaniel

[2021-09-01 05:07] tiktokxgorgon commented on #220
you can telegram me at: https://t.me/adotdaniel

[2021-09-01 05:07] tiktokxgorgon commented on #218
you can telegram me at: https://t.me/adotdaniel

[2021-09-01 05:07] tiktokxgorgon commented on #205
you can telegram me at: https://t.me/adotdaniel

[2021-09-01 05:09] tiktokxgorgon commented on #190
@doganoruc @ziadab @MiloAkerman @ar-naseef @Arsi44

you can telegram me at: https://t.me/adotdaniel or email xgorgon@protonmail.com

[2021-09-01 06:24] szdc commented on #223
Closing as this is beyond the scope of this project.

[2021-09-01 06:24] #223 closed

[2021-09-01 06:25] szdc commented on #220
As specified in the code snippet you pasted: `You need to source these using a man-in-the-middle proxy such as mitmproxy.`

However, this project is no longer maintained so I can't help you more.

[2021-09-01 06:25] #220 closed

[2021-09-01 06:26] szdc commented on #219
Intercept the traffic with an app like `mitmproxy`.

This project is no longer maintained so I can't help you more.

[2021-09-01 06:26] #219 closed

[2021-09-01 06:27] #209 closed, assigned to nobody

[2021-09-01 06:27] szdc commented on #208
Closing as this project is no longer maintained.

[2021-09-01 06:27] #208 closed

[2021-09-01 06:27] szdc commented on #205
Closing as this project is no longer maintained.

[2021-09-01 06:27] #205 closed

[2021-09-01 06:27] szdc commented on #204
Closing as this project is no longer maintained.

[2021-09-01 06:27] #204 closed

[2021-09-01 06:28] szdc commented on #194
Closing as this project is no longer maintained.

[2021-09-01 06:28] #194 closed

[2021-09-01 06:29] szdc commented on #9
Closing as this project is no longer maintained.

[2021-09-01 06:29] #9 closed

[2021-09-01 06:29] szdc commented on #192
Closing as this project is no longer maintained.

[2021-09-01 06:29] #192 closed

[2021-09-01 06:29] szdc commented on #190
Closing as this project is no longer maintained.

[2021-09-01 06:29] #190 closed

[2021-09-01 06:29] szdc commented on #188
Closing as this project is no longer maintained.

[2021-09-01 06:29] #188 closed

[2021-09-01 06:30] szdc commented on #183
Closing as this project is no longer maintained.

[2021-09-01 06:30] #183 closed

[2021-09-01 06:30] szdc commented on #182
Closing as this project is no longer maintained.

[2021-09-01 06:30] #182 closed

[2021-09-01 06:30] szdc commented on #177
Closing as this project is no longer maintained.

[2021-09-01 06:30] #177 closed

[2021-09-01 06:30] szdc commented on #175
Closing as this project is no longer maintained.

[2021-09-01 06:30] #175 closed

[2021-09-01 06:30] #173 closed

[2021-09-01 06:31] szdc commented on #165
Closing as this project is no longer maintained.

[2021-09-01 06:31] #165 closed

[2021-09-01 06:31] szdc commented on #164
Closing as this project is no longer maintained.

[2021-09-01 06:31] #164 closed

[2021-09-01 06:31] szdc commented on #163
Closing as this project is no longer maintained.

[2021-09-01 06:31] #163 closed

[2021-09-01 06:31] szdc commented on #158
Closing as this project is no longer maintained.

[2021-09-01 06:31] #158 closed

[2021-09-01 06:31] szdc commented on #156
Closing as this project is no longer maintained.

[2021-09-01 06:31] szdc commented on #155
Closing as this project is no longer maintained.

[2021-09-01 06:31] #155 closed

[2021-09-01 06:31] szdc commented on #151
Closing as this project is no longer maintained.

[2021-09-01 06:31] szdc commented on #150
Closing as this project is no longer maintained.

[2021-09-01 06:31] #150 closed

[2021-09-01 06:31] szdc commented on #149
Closing as this project is no longer maintained.

[2021-09-01 06:31] #149 closed

[2021-09-01 06:32] szdc commented on #148
Closing as this project is no longer maintained.

[2021-09-01 06:32] #148 closed

[2021-09-01 06:32] szdc commented on #147
Closing as this project is no longer maintained.

[2021-09-01 06:32] #147 closed

[2021-09-01 06:32] szdc commented on #153
Closing as this project is no longer maintained.

[2021-09-01 06:32] #153 closed

[2021-09-01 06:32] szdc commented on #146
Closing as this project is no longer maintained.

[2021-09-01 06:32] #146 closed

[2021-09-01 06:32] szdc commented on #145
Closing as this project is no longer maintained.

[2021-09-01 06:32] #145 closed

[2021-09-01 06:32] szdc commented on #143
Closing as this project is no longer maintained.

[2021-09-01 06:32] #143 closed

[2021-09-01 06:32] szdc commented on #142
Closing as this project is no longer maintained.

[2021-09-01 06:32] #142 closed

[2021-09-01 06:32] szdc commented on #141
Closing as this project is no longer maintained.

[2021-09-01 06:32] #141 closed

[2021-09-01 06:32] szdc commented on #140
Closing as this project is no longer maintained.

[2021-09-01 06:32] #140 closed

[2021-09-01 06:32] szdc commented on #138
Closing as this project is no longer maintained.

[2021-09-01 06:32] #138 closed

[2021-09-01 06:32] szdc commented on #137
Closing as this project is no longer maintained.

[2021-09-01 06:32] szdc commented on #135
Closing as this project is no longer maintained.

[2021-09-01 06:32] #135 closed

[2021-09-01 06:32] #128 closed

[2021-09-01 06:33] szdc commented on #122
Closing as this project is no longer maintained.

[2021-09-01 06:33] #122 closed

[2021-09-01 06:33] szdc commented on #121
Closing as this project is no longer maintained.

[2021-09-01 06:33] #121 closed

[2021-09-01 06:33] szdc commented on #119
Closing as this project is no longer maintained.

[2021-09-01 06:33] #119 closed

[2021-09-01 06:33] szdc commented on #117
Closing as this project is no longer maintained.

[2021-09-01 06:33] #117 closed

[2021-09-01 06:33] szdc commented on #116
Closing as this project is no longer maintained.

[2021-09-01 06:33] #116 closed

[2021-09-01 06:33] szdc commented on #115
Closing as this project is no longer maintained.

[2021-09-01 06:33] #115 closed

[2021-09-01 06:34] szdc commented on #114
Closing as this project is no longer maintained.

[2021-09-01 06:34] #114 closed

[2021-09-01 06:34] szdc commented on #113
Closing as this project is no longer maintained.

[2021-09-01 06:34] #113 closed

[2021-09-01 06:34] #108 closed

[2021-09-01 06:34] szdc commented on #103
Closing as this project is no longer maintained.

[2021-09-01 06:34] #103 closed

[2021-09-01 06:34] szdc commented on #92
Closing as this project is no longer maintained.

[2021-09-01 06:34] #92 closed

[2021-09-01 06:34] szdc commented on #81
Closing as this project is no longer maintained.

[2021-09-01 06:34] #81 closed

[2021-09-01 06:34] szdc commented on #76
Closing as this project is no longer maintained.

[2021-09-01 06:34] #76 closed

[2021-09-01 06:34] szdc commented on #75
Closing as this project is no longer maintained.

[2021-09-01 06:34] szdc commented on #72
Closing as this project is no longer maintained.

[2021-09-01 06:34] #72 closed

[2021-09-01 06:35] szdc commented on #57
Closing as this project is no longer maintained.

[2021-09-01 06:35] #57 closed

[2021-09-01 06:35] szdc commented on #30
Closing as this project is no longer maintained.

[2021-09-01 06:35] #30 closed